<ol>
	<li><a href="#term_1">Datenschutzerklärung</a></li>
	<li><a href="#term_2">Bearbeitung von Personendaten</a></li>
	<li><a href="#term_3">Daten, welche direkt von uns erhoben werden</a>
		<ol>
			<li><a href="#term_3_1">Anfrageformulare</a></li>
			<li><a href="#term_3_2">Erfassung eines Immobiliensuchprofils</a></li>
			<li><a href="#term_3_3">Registrierung für den Newsletter</a></li>
			<li><a href="#term_3_4">Datenerhebung bei Bewerbungen</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Daten, welche durch Dienstleistungen Dritter erhoben werden</a>
		<ol>
			<li><a href="#term_4_1">Cookies</a></li>
			<li><a href="#term_4_2">Verwendung von Google Analytics</a></li>
			<li><a href="#term_4_3">Verwendung von Scriptbibliotheken</a></li>
			<li><a href="#term_4_4">Verwendung von Google Maps</a></li>
			<li><a href="#term_4_5">Verwendung von Social Plugins</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Weitergabe Ihrer Daten an Dritte</a></li>
	<li><a href="#term_6">Übermittlung personenbezogener Daten ins Ausland</a></li>
	<li><a href="#term_7">Dauer der Speicherung Ihrer Daten</a></li>
	<li><a href="#term_8">Schutz Ihrer Daten</a></li>
	<li><a href="#term_9">Ihre Rechte als Benutzer unserer Webseite</a></li>
	<li><a href="#term_10">Verantwortung</a></li>
</ol>



<h2 id="term_1">Datenschutzerklärung</h2>
<p>Die nachfolgende Datenschutzerklärung gilt für die Nutzung dieser Website. Eine Nutzung unserer Website ist grundsätzlich ohne jede Angabe von Personendaten möglich. Sofern Sie jedoch über unsere Website eine besondere Dienstleistung unseres Unternehmens in Anspruch nehmen möchten, könnte eine Bearbeitung von Personendaten erforderlich werden.</p>
<p>Diese Webseite unterliegt dem <a href="https://www.fedlex.admin.ch/eli/oc/2022/491/de" target="_blank">Bundesgesetz über den Datenschutz (DSG)</a> und berücksichtigt die zentralen Punkte der <a href="https://www.gdprexplained.eu/de/" target="_blank">Datenschutz-Grundverordnung (DSGVO)</a> der Europäischen Union (EU).</p>
<p>Im Rahmen der geltenden Datenschutzgesetze und technischen Möglichkeiten sind wir um die Sicherheit Ihrer Daten bemüht. Ihre Personendaten werden bei uns in der Regel verschlüsselt übertragen. Wir benutzen das Codierungssystem SSL (Secure Socket Layer), weisen jedoch darauf hin, dass die Datenübertragung im Internet (z. B. bei einer Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.</p>
<p>Diese Datenschutzerklärung wird laufend ergänzt und den rechtlichen Anforderungen sowie den angebotenen Dienstleistungen angepasst. Es gilt jeweils die aktuelle Datenschutzerklärung. Die Änderungen treten in Kraft, sobald sie auf unserer Website veröffentlicht wurden.</p>
<h2 id="term_2">Bearbeitung von Personendaten</h2>
<p>Sie haben die Möglichkeit, sich auf der Website für verschiedene Dienstleistungen unter Angabe Ihrer Personendaten zu registrieren. Welche Personendaten dabei an den für die Bearbeitung Verantwortlichen übermittelt werden, ergibt sich in der Regel aus der Eingabemaske, die jeweils für die Registrierung verwendet wird.</p>
<p><strong>Personendaten</strong> sind alle Informationen, die sich auf eine bestimmte oder bestimmbare Person beziehen. Dies kann z. B. der Name, die Anschrift, die E-Mail-Adresse oder auch die Telefonnummer einer Person sein. Diese Personendaten können von uns berarbeitet werden. Unter <strong>Bearbeitung</strong> versteht man jeden mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit Personendaten, darunter das Erheben, die Erfassung, die Organisation, die Sortierung, die Speicherung, die Anpassung oder Veränderung, die Auslesung, die Abfrage, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, die Löschung oder die Vernichtung.</p>
<p><strong>Die von Ihnen eingegebenen Personendaten werden ausschliesslich für die interne Verwendung beim für die Bearbeitung Verantwortlichen und für eigene Zwecke erhoben und gespeichert. Wo immer möglich, werden die Daten anonymisiert. Unter Anonymisierung versteht man, dass keine Rückschlüsse hinsichtlich der betroffenen Person gezogen werden können.</strong></p>
<p>Das Kriterium für die Dauer der Speicherung von Personendaten ist die jeweilige gesetzliche Aufbewahrungsfrist oder ein berechtigtes Interesse unserereseits an deren Aufbewahrung, zB die Vertragserfüllung oder Beweissicherungszwecke. Danach werden die entsprechenden Daten routinemässig gelöscht.</p>
<h2 id="term_3">Daten, welche direkt von uns erhoben werden</h2>
<p>Im Rahmen der Nutzung unserer Website und der damit verbundenen Dienstleistungen können wir folgende Personendaten erheben:</p>
<h3 id="term_3_1">Anfrageformulare</h3>
<p>Wenn Sie sich für ein bestimmtes Immobilienangebot interessieren, können Sie per Formular eine an uns Anfrage stellen. Welche Personendaten bei der Anfrage übermittelt werden, ergibt sich aus der entsprechenden Eingabemaske. Ihre Daten können in der Software eines Drittanbieters manuell erfasst oder per Schnittstelle importiert werden. Entsprechend der gespeicherten Daten können wir Ihnen andere, den Kriterien Ihrer Anfrage entsprechende Immobilienangebote machen. Die Erkennung von relevanten Immobilienangeboten kann manuell oder maschinell durch eine Software erfolgen. Sie können von uns per E-Mail, postalischem Schreiben oder mittels Telefon über solche Immobilienangebote informiert werden. Sie haben jederzeit die Möglichkeit, sich von dieser Dienstleistung abzumelden.</p>
<h3 id="term_3_2">Erfassung eines Immobiliensuchprofils</h3>
<p>Auf unserer Website wird den Benutzern die Möglichkeit geboten, per Formular ein Immobiliensuchprofil zu hinterlegen. Ein Immobiliensuchprofil hat den Zweck, uns Ihre Präferenzen hinsichtlich der Immobiliensuche mitzuteilen. Welche Personendaten bei der Hinterlegung eines Formulars übermittelt werden, ergibt sich aus der hierzu verwendeten Eingabemaske.</p>
<p>Die zur Erfassung eines Immobiliensuchprofils erhobenen Personendaten werden ausschliesslich dazu verwendet Ihnen Informationen über passende Immobilienangebote zukommen zu lassen. Die übermittelten Daten können in der Software eines Drittanbieters manuell erfasst oder per Schnittstelle importiert werden. Sollten gemäss den Suchkriterien passende Immobilienobjekte vorliegen, können wir Sie per E-Mail, postalischen Schreibens oder mittels Telefon davon in Kenntnis setzen. Auch können wir Sie in regelmässigen Abständen um die Aktualisierung Ihrer Personendaten im Immobiliensuchprofils kontaktieren. Sie haben jederzeit die Möglichkeit, das Immobiliensuchprofil temporär zu deaktivieren oder ganz zu löschen.</p>
<h3 id="term_3_3">Registrierung für den Newsletter</h3>
<p>Sie können sich per Formular oder E-Mail für den Newsletter unseres Unternehmens anmelden.  Wenn möglich, wird beim erstmaligen Versand des Newsletters im Double-Opt-in-Verfahren eine Bestätigungsmail an die eingetragene E-Mail-Adresse versandt.  Sie haben jederzeit die Möglichkeit, sich vom Newsletter abzumelden. In jedem Newsletter befindet sich ein entsprechender Abmeldelink. Sollte dieser Link fehlen, bitten wir Sie, sich bei der datenschutzbeauftragten Person unserer Website zu melden.</p>
<p>Unser Newsletter kann ein Zählpixel enthalten. Ein Zählpixel ist eine Miniaturgrafik, die in solche E-Mails eingebettet wird, um die Aufzeichnung und Analyse von Logdateien zu ermöglichen. Diese dienen der statistischen Auswertung des Erfolgs oder Misserfolgs von Online-Marketingkampagnen. Die Analyse kann anonymisiert oder mit Rückschluss auf Personendaten erfolgen. Sie können in den Einstelliungen aller gängigen E-Mail Programme das Laden dieser externen Grafiken / Zählpixel deaktivieren.</p>
<h3 id="term_3_4">Datenerhebung bei Bewerbungen</h3>
<p>Wir können Personendaten erheben und bearbeiten, die von Bewerbern im Rahmen eines Bewerbungsverfahrens zur Verfügung gestellt werden. Die Bearbeitung kann auch auf elektronischem Weg erfolgen. Dies ist insbesondere dann der Fall, wenn ein Bewerber entsprechende Bewerbungsunterlagen auf elektronischem Weg, beispielsweise per E-Mail oder über ein auf der Website befindliches Webformular, an uns übermittelt. Die übermittelten Daten werden ausschliesslich im Zusammenhang mit dem angefragten Stellenprofil genutzt.</p>
<h2 id="term_4">Daten, welche durch Dienstleistungen Dritter erhoben werden</h2>
<p>Um die Qualität unserer Dienstleistungen kontinuierlich zu verbessern, sind auf unserer Website folgende Technologien eingebunden:</p>
<h3 id="term_4_1">Cookies</h3>
<p>In bestimmten Fällen können wir Cookies einsetzen. Durch Cookies können Informationen und Angebote auf unserer Website im Sinne der Benutzer optimiert werden. Cookies ermöglichen uns die Wiedererkennung von Benutzern unserer Website. Zweck dieser Wiedererkennung ist es, den Benutzern die Verwendung unserer Website zu erleichtern. Sie können die Setzung von Cookies durch unsere Website jederzeit über eine entsprechende Einstellung im von Ihnen genutzten Internetbrowser verhindern und damit der Setzung von Cookies dauerhaft widersprechen.</p>
<h3 id="term_4_2">Verwendung von Google Analytics</h3>
<p>Google Analytics ist ein Webanalysedienst. Unsere Webanalyse umfasst die anonyme Erhebung, Sammlung und Auswertung von Daten betreffend das Verhalten von Besuchern von Websites. Ein Webanalysedienst erfasst unter anderem Daten darüber, von welcher Drittwebsite ein Benutzer auf unsere Website gekommen ist, auf welche Unterseiten der Website zugegriffen oder wie oft und für welche Verweildauer eine Unterseite betrachtet wurde. Zur Aufzeichnung dieser Informationen setzt Google Analytics ein Cookie ein. Wie oben erwähnt, können Sie die Setzung von Cookies durch unsere Website jederzeit über eine entsprechende Einstellung im von Ihnen benutzten Internetbrowser verhindern.</p>
<h3 id="term_4_3">Verwendung von Scriptbibliotheken</h3>
<p>Um Inhalte korrekt auszuliefern oder vor Spam zu schützen, verwenden wir auf unserer Website Scriptbibliotheken und Schriftbibliotheken (z. B. Google Webfonts für Schriftarten, Google Ratings für Bewertungen oder Google Recaptcha um die Website vor Spam zu schützen). Der Aufruf einer Scriptbibliothek oder Schriftbibliotheken hat zur Folge, dass eine Verbindung zum Anbieter der Bibliothek ausgelöst wird. Es ist möglich, dass der Betreiber der Bibliothek Daten dieser Verbindung erhebt.</p>
<h3 id="term_4_4">Verwendung von Google Maps</h3>
<p>Wir nutzen eine Schnittstelle zu geospezifischen Daten von Google, um ortsbasierte Informationen zu visualisieren. Hierbei werden von Google Daten über die Nutzung der Kartenfunktion aufgezeichnet und verwendet. Informationen über die Datennutzung durch Google kann den <a href="https://policies.google.com/privacy?hl=de" target="_blank">Datenschutzhinweisen von Google</a> entnommen werden.</p>
<h3 id="term_4_5">Verwendung von Social Plugins</h3>
<p>Auf unserer Website können Social Plug-ins verschiedener Anbieter von sozialen Netzwerken eingesetzt werden. Über diese Plug-ins nutzen die entsprechenden sozialen Netzwerken bestimmte Informationen, zu denen auch Personendaten gehören können. Falls die betroffene Person während des Besuchs unserer Website gleichzeitig bei einem sozialen Netzwerk eingeloggt ist, ist davon auszugehen, dass Personendaten an die sozialen Netzwerke übermittelt werden. Wir haben keinen Einfluss darauf, welche Daten von den sozialen Netzwerken verwendet werden. Wir selbst setzen zur Aufzeichnung von Personendaten keine Social Plug-ins ein. Die Datenschutzrichtlinien der entsprechenden sozialen Netzwerke geben Aufschluss über die Erhebung, Bearbeitung und Nutzung von Personendaten.</p>
<h2 id="term_5">Weitergabe Ihrer Daten an Dritte</h2>
<p>Zur Betrugs- und Missbrauchsbekämpfung oder bei sonstigem Verdacht auf strafbare Handlungen können wir Ihre Daten an in- und ausländische Strafverfolgungsbehörden und Gerichte offenlegen.</p>
<p>Abgesehen von der vorstehend beschriebenen Weitergabe Ihrer Daten geben wir Ihre Daten nur weiter, wenn Sie gemäss anwendbarem Datenschutzrecht entweder ausdrücklich eingewilligt haben, hierfür eine gesetzliche Verpflichtung besteht oder dies zur Durchsetzung unserer Rechte, insbesondere zur Durchsetzung von Ansprüchen aus dem Vertragsverhältnis, was ein überwiegendes Interesse von uns darstellt, erforderlich ist.</p>
<h2 id="term_6">Übermittlung personenbezogener Daten ins Ausland</h2>	
<p>Wir können Ihre personenbezogenen Daten auch an dritte Unternehmen oder beauftragte Dienstleister im Ausland, insbesondere in Europa und den USA, übertragen, sofern dies für die in dieser Datenschutzerklärung beschriebenen Datenbearbeitungen zweckmässig ist. Diese sind im gleichen Umfang wie wir selbst zum Datenschutz verpflichtet. Wenn das Datenschutzniveau in einem Land nicht dem schweizerischen entspricht, stellen wir vertraglich sicher, dass der Schutz Ihrer personenbezogenen Daten demjenigen in der Schweiz jederzeit entspricht. Dies stellen wir durch das Abschliessen von EU Model Clauses oder anderen durch den Eidgenössischen Datenschutz- und Öffentlichkeitsbeauftragten genehmigten Verträge mit den beauftragten Dienstleistern sicher.</p>
<h2 id="term_7">Dauer der Speicherung Ihrer Daten</h2>	
<p>Wir bewahren Ihre Daten nur so lange auf, wie es rechtlich oder entsprechend dem Bearbeitungszweck notwendig ist, insbesondere zur Erfüllung des Auftrags oder Vertrags sowie zur Einhaltung gesetzlicher Pflichten. </p>
<p>Bei Analysen Ihrer Daten speichern wir Ihre Daten so lange, bis die Analyse abgeschlossen ist oder Sie der weiteren Bearbeitung widersprochen haben. Speichern wir Daten aufgrund einer Vertragsbeziehung mit Ihnen, bleiben diese Daten mindestens so lange gespeichert wie die Vertragsbeziehung besteht und längstens so lange Verjährungsfristen für mögliche Ansprüche von uns laufen oder gesetzliche oder vertragliche Aufbewahrungspflichten bestehen. </p>
<p>Die Inhalte des Kontaktformulars und die folgende E-Mail-Korrespondenz müssen von uns während sechs Monaten von Gesetzes wegen aufbewahrt werden.</p>
<p>Es folgt eine Löschung, sofern wir Ihre Daten nicht mehr für die angegebenen Bearbeitungszwecke benötigen und auch gesetzlich nicht mehr verpflichtet sind, sie aufzubewahren.</p>
<h2 id="term_8">Schutz Ihrer Daten</h2>	
<p>Wir treffen geeignete technische und organisatorische Vorkehrungen, um Ihre Daten gewissenhaft vor Verlust, Zerstörung, Verfälschung, Manipulation oder unberechtigtem Zugriff zu schützen. Wir betreiben sichere Datennetze, die den jeweils geltenden technischen Standards entsprechen. Unsere Sicherheitsmassnahmen werden entsprechend der technologischen Entwicklung fortlaufend angepasst und verbessert.</p>
<p>Unsere Mitarbeiter und die von uns beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet worden.</p>
<h2 id="term_9">Ihre Rechte als Benutzer unserer Webseite</h2>
<p>Gemäss den anwendbaren Gesetzen haben Sie verschiedene Rechte hinsichtlich Ihrer Personendaten. Sie können bei unserer datenschutzbeauftragten Person folgende Rechte geltend machen:</p>
<ul>
	<li>Auskunft über Ihre gespeicherten Daten und die damit verbundene Bearbeitung</li>
	<li>Berichtigung falscher von Personendaten</li>
	<li>Löschung Ihrer gespeicherten Daten</li>
	<li>Einschränkung der Datenbearbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen</li>
	<li>Widerspruch gegen die Bearbeitung Ihrer Daten</li>
	<li>Datenübertragbarkeit, d. h. Erhalt der gespeicherten Daten in einem maschinenlesbaren Format, sofern Sie in die Datenbearbeitung eingewilligt oder einen Vertrag mit uns abgeschlossen haben.</li>
</ul>
<p>Bitte beachten Sie, dass die Gewährung Ihrer Rechte teilweise aus gesetzlichen Gründen oder gestützt auf das Datenschutzrecht verweigert oder eingeschränkt werden kann. Wir werden Sie, wenn rechtlich erforderlich bzw. erlaubt, über die Gründe für unseren Entscheid informieren.</p>
<h2 id="term_10">Verantwortung</h2>
<p>Verantwortlich für die Erhebung, Bearbeitung und Nutzung Ihrer Personendaten ist:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>Die Datenschutzbeauftragte Person ist:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Falls Sie der Erhebung, Bearbeitung oder Nutzung Ihrer Daten durch uns nach Massgabe dieser Datenschutzbestimmungen insgesamt oder in Bezug auf einzelne Massnahmen widersprechen wollen, können Sie Ihren Widerspruch an die verantwortliche Person richten.</p>




