<p><strong>EN 2 Datenschutzverantwortliche Person</strong></p>
<p>Verantwortliche für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten im Sinne von Art. 4 Nr. 7 DSGVO ist</p>
<p>{{company.legal_name}}<br>
{{address.street}} {{address.street_number}}<br>
{{address.post_office_box_number}}<br>
{{address.postal_code}} {{address.locality}}</p>
<p>Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Massgabe dieser Daten-schutzbestimmungen insgesamt oder für einzelne Massnahmen widersprechen wollen, können Sie Ihren Wider-spruch an den Verantwortlichen richten.</p>