<ol>
	<li><a href="#term_1">Datenschutzerklärung</a></li>
	<li><a href="#term_2">Verarbeitung von personenbezogenen Daten</a></li>
	<li><a href="#term_3">Daten, welche direkt von uns erhoben werden</a>
		<ol>
			<li><a href="#term_3_1">Anfrageformulare</a></li>
			<li><a href="#term_3_2">Erfassung eines Immobiliensuchprofils</a></li>
			<li><a href="#term_3_3">Registrierung für den Newsletter</a></li>
			<li><a href="#term_3_4">Datenerhebung bei Bewerbungen</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Daten, welche durch Dienstleistungen Dritter erhoben werden</a>
		<ol>
			<li><a href="#term_4_1">Cookies</a></li>
			<li><a href="#term_4_2">Verwendung von Google Analytics</a></li>
			<li><a href="#term_4_3">Verwendung von Scriptbibliotheken</a></li>
			<li><a href="#term_4_4">Verwendung von Google Maps</a></li>
			<li><a href="#term_4_5">Verwendung von Social Plugins</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Ihre Rechte als Benutzer unserer Webseite</a></li>
	<li><a href="#term_6">Verantwortung</a></li>
</ol>
<h2 id="term_1">Datenschutzerklärung</h2>
<p>Die nachfolgende Datenschutzerklärung gilt für die Nutzung dieser Website. Eine Nutzung unserer Website ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich. Sofern Sie jedoch über unsere Website eine besondere Dienstleistung unseres Unternehmens in Anspruch nehmen möchten, könnte eine Verarbeitung Ihrer personenbezogenen Daten erforderlich werden.</p>
<p>Diese Webseite unterliegt dem <a href="https://www.admin.ch/opc/de/classified-compilation/19920153/index.html" target="_blank">Bundesgesetz über den Datenschutz (DSG)</a> und berücksichtigt die zentralen Punkte der <a href="https://www.gdprexplained.eu/de/" target="_blank">Datenschutz-Grundverordnung (DSGVO)</a> der Europäischen Union (EU).</p>
<p>Im Rahmen der geltenden Datenschutzgesetze und technischen Möglichkeiten sind wir um die Sicherheit Ihrer Daten bemüht. Ihre personenbezogenen Daten werden bei uns in der Regel verschlüsselt übertragen. Wir benutzen das Codierungssystem SSL (Secure-Socket-Layer), weisen jedoch darauf hin, dass die Datenübertragung im Internet (z. B. bei einer Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.</p>
<p>Diese Datenschutzerklärung wird laufend ergänzt und den rechtlichen Anforderungen sowie den angebotenen Dienstleistungen angepasst. Es gilt jeweils die aktuelle Datenschutzerklärung. Die Änderungen treten in Kraft, sobald sie auf unserer Website veröffentlicht wurden.</p>
<h2 id="term_2">Verarbeitung von personenbezogenen Daten</h2>
<p>Sie haben die Möglichkeit, sich unter Angabe Ihrer personenbezogenen Daten auf der Website für verschiedene Dienstleistungen zu registrieren. Welche personenbezogenen Daten dabei an den für die Verarbeitung Verantwortlichen übermittelt werden, ergibt sich in der Regel aus der Eingabemaske, die jeweils für die Registrierung verwendet wird.</p>
<p><strong>Personenbezogene Daten</strong> sind alle Informationen, die sich auf eine bestimmte oder bestimmbare Person beziehen. Dies kann z. B der Name, die Anschrift, die E-Mail-Adresse oder auch die Telefonnummer einer Person sein. Diese personenbezogenen Daten können von uns verarbeitet werden. Unter <strong>Verarbeitung</strong> versteht man jeden mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten, darunter die Erhebung, die Erfassung, die Organisation, die Sortierung, die Speicherung, die Anpassung oder Veränderung, die Auslesung, die Abfrage, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, die Löschung oder die Vernichtung.</p>
<p><strong>Die von Ihnen eingegebenen personenbezogenen Daten werden ausschliesslich für die interne Verwendung beim für die Verarbeitung Verantwortlichen und für eigene Zwecke erhoben und gespeichert. Wo immer möglich, werden die Daten anonymisiert. Unter Anonymisierung versteht man, dass keine Rückschlüsse hinsichtlich der betroffenen Person gezogen werden können.</strong></p>
<p>Das Kriterium für die Dauer der Speicherung von personenbezogenen Daten ist die jeweilige gesetzliche Aufbewahrungsfrist. Nach Ablauf der Frist werden die entsprechenden Daten routinemässig gelöscht, sofern sie nicht mehr zur Vertragserfüllung oder Vertragsanbahnung erforderlich sind.</p>
<h2 id="term_3">Daten, welche direkt von uns erhoben werden</h2>
<p>Im Rahmen der Nutzung unserer Website und der damit verbundenen Dienstleistungen, können wir folgende personenbezogene Daten erheben:</p>
<h3 id="term_3_1">Anfrageformulare</h3>
<p>Wenn Sie sich für ein bestimmtes Immobilienangebot interessieren, können Sie per Formular eine Anfrage an uns stellen. Welche personenbezogenen Daten bei der Anfrage übermittelt werden, ergibt sich aus der entsprechenden Eingabemaske. Ihre Daten können in der Software eines Drittanbieters manuell erfasst oder per Schnittstelle importiert werden. Entsprechend den gespeicherten Daten können wir Ihnen andere, den Kriterien Ihrer Anfrage entsprechende Immobilienangebote machen. Die Erkennung von relevanten Immobilienangeboten kann manuell oder maschinell durch eine Software erfolgen. Sie können von uns per E-Mail, postalisches Schreiben oder Telefon über solche Immobilienangebote informiert werden. Sie haben jederzeit die Möglichkeit, sich von dieser Dienstleistung abzumelden.</p>
<h3 id="term_3_2">Erfassung eines Immobiliensuchprofils</h3>
<p>Auf unserer Website wird den Benutzern die Möglichkeit geboten, per Formular ein Immobiliensuchprofil zu hinterlegen. Ein Immobiliensuchprofil hat den Zweck, uns Ihre Präferenzen hinsichtlich der Immobiliensuche mitzuteilen. Welche personenbezogenen Daten bei der Hinterlegung eines Formulars übermittelt werden, ergibt sich aus der hierzu verwendeten Eingabemaske.</p>
<p>Die zur Erfassung eines Immobiliensuchprofils erhobenen personenbezogenen Daten, werden ausschliesslich dazu verwendet, Ihnen Informationen zu passenden Immobilienangeboten zukommen zu lassen. Die übermittelten Daten können in der Software eines Drittanbieters manuell erfasst oder per Schnittstelle importiert werden. Sollten gemäss den Suchkriterien passende Immobilienobjekte vorliegen, können wir Sie per E-Mail, postalisches Schreiben oder Telefon davon in Kenntnis setzen. Zudem können wir Sie in regelmässigen Abständen um die Aktualisierung Ihrer personenbezogenen Daten im Immobiliensuchprofil kontaktieren. Sie haben jederzeit die Möglichkeit, das Immobiliensuchprofil temporär zu deaktivieren oder ganz zu löschen.</p>
<h3 id="term_3_3">Registrierung für den Newsletter</h3>
<p>Sie können sich per Formular oder E-Mail für den Newsletter unseres Unternehmens anmelden. Wenn möglich, wird beim erstmaligen Versand des Newsletters im Double-Opt-in-Verfahren eine Bestätigungsmail an die eingetragene E-Mail-Adresse versandt. Wir sind bemüht, für den Newsletterversand eine dafür vorgesehene Software zu verwenden, welche einen konformen Datenschutz gewährleistet.</p>
<p>Sie haben jederzeit die Möglichkeit, sich vom Newsletter abzumelden. In jedem Newsletter befindet sich ein entsprechender Abmeldelink. Sollte dieser Link fehlen, bitten wir Sie, sich bei der datenschutzbeauftragten Person unserer Website zu melden. Unser Newsletter kann ein Zählpixel enthalten. Ein Zählpixel ist eine Miniaturgrafik, die in solche E-Mails eingebettet wird, um die Aufzeichnung und Analyse von Logdateien zu ermöglichen. Diese dienen der statistischen Auswertung des Erfolgs oder Misserfolgs von Online-Marketingkampagnen. Die Analyse kann anonymisiert oder mit Rückschluss auf personenbezogene Daten erfolgen.</p>
<h3 id="term_3_4">Datenerhebung bei Bewerbungen</h3>
<p>Wir können personenbezogene Daten erheben und verarbeiten, die von Bewerbern im Rahmen eines Bewerbungsverfahrens zur Verfügung gestellt werden. Die Verarbeitung kann auch auf elektronischem Weg erfolgen. Dies ist insbesondere dann der Fall, wenn ein Bewerber entsprechende Bewerbungsunterlagen auf elektronischem Weg, beispielsweise per E-Mail oder über ein auf der Website befindliches Webformular, an uns übermittelt.</p>
<h2 id="term_4">Daten, welche durch Dienstleistungen Dritter erhoben werden</h2>
<p>Um die Qualität unserer Dienstleistungen kontinuierlich zu verbessern, sind auf unserer Website folgende Technologien eingebunden:</p>
<h3 id="term_4_1">Cookies</h3>
<p>In bestimmten Fällen können wir Cookies einsetzen. Durch Cookies können die Informationen und Angebote auf unserer Website im Sinne der Benutzer optimiert werden. Cookies ermöglichen uns die Wiedererkennung von Benutzern unserer Website. Zweck dieser Wiedererkennung ist es, den Benutzern die Verwendung unserer Website zu erleichtern. Sie können die Setzung von Cookies durch unsere Website jederzeit über eine entsprechende Einstellung im von Ihnen benutzten Internetbrowser verhindern und damit der Setzung von Cookies dauerhaft widersprechen.</p>
<h3 id="term_4_2">Verwendung von Google Analytics</h3>
<p>Google Analytics ist ein Webanalysedienst. Unsere Webanalyse umfasst die anonyme Erhebung, Sammlung und Auswertung von Daten betreffend das Verhalten von Besuchern von Websites. Ein Webanalysedienst erfasst unter anderem Daten darüber, von welcher Drittwebsite ein Benutzer auf unsere Website gekommen ist, auf welche Unterseiten der Website zugegriffen oder wie oft und für welche Verweildauer eine Unterseite betrachtet wurde. Zur Aufzeichnung dieser Informationen setzt Google Analytics ein Cookie ein. Wie oben erwähnt, können Sie die Setzung von Cookies durch unsere Website jederzeit über eine entsprechende Einstellung im von Ihnen benutzten Internetbrowser verhindern.</p>
<h3 id="term_4_3">Verwendung von Scriptbibliotheken</h3>
<p>Um Inhalte korrekt darzustellen, verwenden wir auf unserer Website Script- und Schriftbibliotheken (z. B. Google Webfonts). Der Aufruf einer Script- oder Schriftbibliothek hat zur Folge, dass eine Verbindung zum Anbieter der Bibliothek hergestellt wird. Es ist möglich, dass der Betreiber der Bibliothek Daten dieser Verbindung erhebt.</p>
<h3 id="term_4_4">Verwendung von Google Maps</h3>
<p>Wir nutzen eine Schnittstelle zu geospezifischen Daten von Google, um ortsbasierte Informationen zu visualisieren. Hierbei werden von Google Daten über die Nutzung der Kartenfunktion aufgezeichnet und verwendet. Informationen über die Datennutzung durch Google kann den Datenschutzhinweisen von Google entnommen werden.</p>
<h3 id="term_4_5">Verwendung von Social Plugins</h3>
<p>Auf unserer Website können Social Plug-ins verschiedener Anbieter von sozialen Netzwerken eingesetzt werden. Über diese Plug-ins nutzen die entsprechenden sozialen Netzwerken bestimmte Informationen, zu denen auch personenbezogene Daten gehören können. Falls die betroffene Person während des Besuchs unserer Website gleichzeitig bei einem sozialen Netzwerk eingeloggt ist, ist davon auszugehen, dass personenbezogene Daten übermittelt werden. Wir haben keinen Einfluss darauf, welche Daten verwendet werden. Wir selbst setzen zur Aufzeichnung personenbezogener Daten keine Social Plug-ins ein. Die Datenschutzrichtlinien der entsprechenden sozialen Netzwerke geben Aufschluss über die Erhebung, Verarbeitung und Nutzung personenbezogener Daten.</p>
<h2 id="term_5">Ihre Rechte als Benutzer unserer Webseite</h2>
<p>Gemäss den anwendbaren Gesetzen haben Sie verschiedene Rechte hinsichtlich Ihrer personenbezogenen Daten. Sie können bei unserer datenschutzbeauftragten Person folgende Rechte geltend machen:</p>
<ul>
	<li>Auskunft über Ihre gespeicherten Daten und die damit verbundene Verarbeitung</li>
	<li>Berichtigung falscher personenbezogener Daten</li>
	<li>Löschung Ihrer gespeicherten Daten</li>
	<li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen</li>
	<li>Widerspruch gegen die Verarbeitung Ihrer Daten</li>
	<li>Datenübertragbarkeit, d. h. Erhalt der gespeicherten Daten in einem maschinenlesbaren Format, sofern Sie in die
	Datenverarbeitung eingewilligt oder einen Vertrag mit uns abgeschlossen haben</li>
</ul>
<h2 id="term_6">Verantwortung</h2>
<p>Verantwortlich für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten ist:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>Die Datenschutzbeauftragte Person ist:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Falls Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Massgabe dieser Datenschutzbestimmungen insgesamt oder in Bezug auf einzelne Massnahmen widersprechen wollen, können Sie Ihren Widerspruch an die verantwortliche Person richten.
</p>




