<ol>
	<li><a href="#term_1">Déclaration de confidentialité</a></li>
	<li><a href="#term_2">Traitement des données personnelles</a></li>
	<li><a href="#term_3">Les données que nous collectons directement</a>
		<ol>
			<li><a href="#term_3_1">Formulaires de demande</a></li>
			<li><a href="#term_3_2">Création d'un profil de recherche immobilière</a></li>
			<li><a href="#term_3_3">Inscription à la newsletter</a></li>
			<li><a href="#term_3_4">Collecte de données lors de candidatures</a></li>
		</ol>
	</li>
	<li><a href="#term_4">Données collectées par des services tiers</a>
		<ol>
			<li><a href="#term_4_1">Cookies</a></li>
			<li><a href="#term_4_2">Utilisation de Google Analytics</a></li>
			<li><a href="#term_4_3">Utilisation de bibliothèques de scripts</a></li>
			<li><a href="#term_4_4">Utilisation de Google Maps</a></li>
			<li><a href="#term_4_5">Utilisation de plug-ins sociaux</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Transmission de vos données à des tiers</a></li>
	<li><a href="#term_6">Transmission de données personnelles à l'étranger</a></li>
	<li><a href="#term_7">Durée de conservation de vos données</a></li>
	<li><a href="#term_8">Protection de vos données</a></li>
	<li><a href="#term_9">Vos droits en tant qu'utilisateur de notre site Web</a></li>
	<li><a href="#term_10">Responsabilité</a></li>
</ol>







<h2 id="term_1">Déclaration de confidentialité</h2>
<p>La déclaration de confidentialité suivante s'applique lors de l'utilisation de ce site Web. En principe, il est possible d'utiliser notre site Web sans indiquer de données personnelles. Toutefois, si vous souhaitez recourir à un service particulier de notre entreprise par le biais de notre site Web, le traitement de vos données personnelles peut s'avérer nécessaire.</p>
<p>Ce site Web est soumis à la <a href="https://www.fedlex.admin.ch/eli/oc/2022/491/fr" target="_blank">loi fédérale sur la protection des données (LPD)</a> et prend en compte les points principaux du <a href="https://www.gdprexplained.eu/fr/" target="_blank">règlement général sur la protection des données (RGPD)</a> de l'Union européenne (UE).</p>
<p>Nous nous efforçons de protéger vos données dans le cadre des lois applicables en matière de protection des données et des possibilités techniques. Nous transmettons généralement vos données personnelles sous forme cryptée. Nous utilisons le système de cryptage SSL (Secure Socket Layer), mais souhaitons attirer votre attention sur le fait que la transmission de données sur Internet (par ex. lors de la communication par e-mail) peut présenter des failles de sécurité.</p>
<p>Cette déclaration de confidentialité sera mise à jour au fur et à mesure afin de s'adapter aux exigences légales et aux services proposés. La déclaration de confidentialité actuelle s'applique. Les modifications entrent en vigueur dès leur publication sur notre site.</p>
<h2 id="term_2">Traitement des données personnelles</h2>
<p>Notre site Web vous permet de vous inscrire à différents services en indiquant vos données personnelles. En général, le masque de saisie utilisé pour l'inscription indique quelles données personnelles sont transmises au responsable du traitement.</p>
<p>Les <strong>données personnelles</strong> sont toutes les informations qui se rapportent à une personne spécifique ou identifiable. Il s'agit par exemple, du nom, de l'adresse, de l'adresse e-mail ou du numéro de téléphone d'une personne. Nous pouvons traiter ces données personnelles. Le terme <strong>traitement</strong> désigne toute opération ou série d'opérations avec ou sans l'aide de processus automatisés en relation avec les données personnelles comme la collecte, la saisie, l'organisation, le classement, la sauvegarde, l'adaptation ou la modification, le tri, la consultation, l'utilisation, la divulgation par transmission, la diffusion ou toute autre forme de mise à disposition, la comparaison ou l'association, la restriction, la suppression ou la destruction.</p>
<p><strong>Les données personnelles que vous saisissez seront collectées et stockées uniquement pour un usage interne par le responsable du traitement des données et à des fins propres. Dès que cela est possible, nous anonymisons les données. L'anonymisation signifie qu'aucune conclusion ne peut être tirée quant à la personne concernée.</strong></p>
<p>Le critère déterminant la durée de conservation des données personnelles est le délai de conservation légal ou un intérêt légitime de notre part à leur conservation, p. ex. l'exécution du contrat ou à des fins de conservation des preuves. Les données correspondantes sont ensuite systématiquement effacées.</p>
<h2 id="term_3">Les données que nous collectons directement</h2>
<p>Dans le cadre de l'utilisation de notre site Web et des services qui y sont liés, nous pouvons collecter les données personnelles suivantes:</p>
<h3 id="term_3_1">Formulaires de demande</h3>
<p>Si vous êtes intéressé par une offre immobilière, vous pouvez nous soumettre une demande par le biais d'un formulaire. Le masque de saisie utilisé indique quelles données sont transmises lors de la demande. Vos données peuvent être saisies manuellement dans un logiciel tiers ou importées grâce à une interface. En fonction des données enregistrées, nous pouvons vous proposer d'autres offres immobilières correspondant aux critères de votre demande. L'identification d'offres immobilières pertinentes peut être faite manuellement ou à l'aide d'un logiciel. Nous pouvons vous informer de ces offres immobilières par e-mail, par courrier postal ou par téléphone. Vous pouvez à tout moment vous désabonner de ces services.</p>
<h3 id="term_3_2">Création d'un profil de recherche immobilière</h3>
<p>Les utilisateurs de notre site Web ont la possibilité, grâce à un formulaire, d'enregistrer un profil de recherche immobilière. Un profil de recherche immobilière vous permet de partager vos préférences en matière de recherche immobilière. Le masque de saisie utilisé indique quelles données personnelles sont renseignées lors de l'enregistrement d'un formulaire.</p>
<p>Les données personnelles collectées dans le cadre de la création d'un profil de recherche immobilière ne sont utilisées que pour vous envoyer des informations sur des offres immobilières correspondantes. Les données transmises peuvent être saisies manuellement dans un logiciel tiers ou importées grâce à une interface. Si vos critères de recherche correspondent à un bien immobilier, nous pourrons vous en informer par e-mail, par courrier postal ou par téléphone. Nous pouvons également vous contacter périodiquement pour mettre à jour vos données personnelles en rapport avec votre profil de recherche immobilière. Vous avez à tout moment la possibilité de désactiver temporairement ou de supprimer définitivement votre profil de recherche immobilière.</p>
<h3 id="term_3_3">Inscription à la newsletter</h3>
<p>Vous pouvez vous inscrire à la newsletter de notre entreprise via le formulaire ou par e-mail. Dans la mesure du possible, un e-mail de confirmation est envoyé à l'adresse e-mail indiquée lors du premier envoi de la newsletter selon la procédure de double opt-in. Vous pouvez à tout moment vous désabonner de la newsletter. Chaque newsletter contient un lien pour se désabonner. Si le lien n'est pas présent, nous vous prions de le signaler au responsable de la protection des données de notre site Web. </p>
<p>Notre newsletter peut contenir un pixel espion. Un pixel espion est une très petite image numérique qui est placée dans ces e-mails et qui permet l'enregistrement et l'analyse des fichiers journaux. Ils servent à l'évaluation statistique du succès ou de l'échec des campagnes de marketing en ligne. L'analyse peut être anonyme ou faire référence à des données personnelles. Vous pouvez désactiver le chargement de ces graphiques externes / pixels espions dans les paramètres de tous les programmes de messagerie courants.</p>
<h3 id="term_3_4">Collecte de données lors de candidatures</h3>
<p>Nous pouvons collecter et traiter des données personnelles des candidats dans le but de traiter les candidatures. Le traitement peut également se faire par voie électronique. C'est généralement le cas lorsqu'un candidat nous transmet son dossier de candidature par voie électronique, par exemple par e-mail ou par le biais du formulaire qui se trouve sur le site Web. Les données transmises sont utilisées exclusivement en lien avec le profil de poste demandé.</p>
<h2 id="term_4">Données collectées par des services tiers</h2>
<p>Afin d'améliorer continuellement la qualité de nos services, nous utilisons les technologies suivantes sur notre site Web.</p>
<h3 id="term_4_1">Cookies</h3>
<p>Dans certains cas, nous pouvons avoir recours à des cookies. Grâce à ces cookies, nous pouvons optimiser les informations et les offres de notre site Web en fonction de l'utilisateur. Les cookies nous permettent de reconnaître les utilisateurs de notre site Web. Le but de cette reconnaissance est de faciliter la navigation sur notre site Web pour l'utilisateur. Vous pouvez à tout moment empêcher l'installation de cookies sur notre site Web grâce aux paramètres de votre navigateur Internet et ainsi vous opposer durablement à l'utilisation de cookies.</p>
<h3 id="term_4_2">Utilisation de Google Analytics</h3>
<p>Google Analytics est un service d'analyse web. Notre analyse web comporte la collecte anonyme, le rassemblement et l'analyse de données concernant le comportement des utilisateurs du site Web. Un service d'analyse web recense entre autres des données sur le site web tiers à partir duquel un utilisateur est arrivé sur notre site web, sur les pages du site web auxquelles il a accédé ou sur la fréquence et la durée de consultation d'une page. Afin d'enregistrer ces informations, Google Analytics utilise des cookies. Comme mentionné ci-dessus, vous pouvez à tout moment empêcher l'installation de cookies sur notre site Web en paramétrant votre navigateur Internet.</p>
<h3 id="term_4_3">Utilisation de bibliothèques de scripts</h3>
<p>Afin de fournir correctement des contenus ou de les protéger contre les spams, nous utilisons des bibliothèques de scripts et des bibliothèques de polices sur notre site Web (p. ex. Google Webfonts pour les polices, Google Ratings pour les évaluations ou Google Recaptcha pour protéger le site contre les spams). L'utilisation de ces bibliothèques de scripts et de polices a pour effet de créer une connexion avec le fournisseur de bibliothèques. Il est possible que l'exploitant de la bibliothèque obtienne des données grâce à cette connexion.</p>
<h3 id="term_4_4">Utilisation de Google Maps</h3>
<p>Nous utilisons une interface pour visualiser les données géographiques de Google et les informations géolocalisées. À cette occasion, les données d'utilisation de la fonction carte seront enregistrées et utilisées par Google. Pour en savoir plus sur l'utilisation de vos données par Google, veuillez consulter les avis de confidentialité de Google.</p>
<h3 id="term_4_5">Utilisation de plug-ins sociaux</h3>
<p>Nous utilisons sur notre site Web différents plug-ins sociaux de différents fournisseurs de réseaux sociaux. Par le biais de ces plug-ins, les réseaux sociaux concernés utilisent certaines informations, dont des données personnelles. Si la personne concernée est connectée à un réseau social en même temps qu'elle visite notre site Web, on peut supposer que des données personnelles seront transmises aux réseaux sociaux. Nous n'avons aucune influence sur les données utilisées par les réseaux sociaux. Nous n'utilisons pas de plug-ins sociaux pour enregistrer des données personnelles. Pour en savoir plus sur la collecte, le traitement et l'utilisation des données personnelles par les réseaux sociaux, veuillez consulter leur politique de confidentialité respective.</p>
<h2 id="term_5">Transmission de vos données à des tiers</h2>
<p>Afin de lutter contre la fraude et les abus ou en cas de soupçon d'infractions, nous pouvons divulguer vos données à des autorités judiciaires et à des tribunaux suisses et étrangers.</p>
<p>Hormis la transmission de vos données décrite ci-dessus, nous ne transmettons vos données que si vous y avez expressément consenti conformément au droit applicable en matière de protection des données, si une obligation légale à agir ainsi est imposée ou si cela est nécessaire pour faire valoir nos droits, en particulier pour exercer nos droits découlant de la relation contractuelle, ce qui représente un intérêt prépondérant de notre part.</p>
<h2 id="term_6">Transmission de données personnelles à l'étranger</h2>
<p>Nous pouvons également transmettre vos données personnelles à des entreprises tierces ou à des prestataires de services mandatés à l'étranger, notamment en Europe et aux États-Unis, dans la mesure où cela est judicieux pour les traitements de données décrits dans la présente déclaration de confidentialité. Ceux-ci sont tenus de protéger les données dans la même étendue que nous. Si le niveau de protection des données dans un pays ne correspond pas au niveau suisse, nous garantissons contractuellement que la protection de vos données personnelles correspond à tout moment à celle de la Suisse. Nous nous en assurons en concluant des clauses types de l'UE ou d'autres contrats approuvés par le Préposé fédéral à la protection des données et à la transparence avec les prestataires de services mandatés.</p>
<h2 id="term_7">Durée de conservation de vos données</h2>
<p>Nous conservons uniquement vos données aussi longtemps que la loi ou la finalité du traitement l'exigent, en particulier pour l'exécution du mandat ou du contrat ainsi que pour le respect d'obligations légales.</p>
<p>En cas d'analyse de vos données, nous les conservons jusqu'à ce que l'analyse soit terminée ou que vous vous opposiez à leur traitement ultérieur. Si nous enregistrons des données dans le cadre d'une relation contractuelle avec vous, ces données sont conservées au moins aussi longtemps que la relation contractuelle existe, au plus aussi longtemps que les délais de prescription pour d'éventuelles prétentions de notre part courent ou qu'il existe des obligations de conservation légales ou contractuelles. </p>
<p>Conformément à la loi, nous sommes tenus de conserver le contenu du formulaire de contact et de la correspondance par e-mail qui suit pendant six mois.</p>
<p>Un effacement s'ensuit dès lors que nous n'avons plus besoin de vos données pour les finalités de traitement indiquées et que nous ne sommes plus tenus par la loi de les conserver.</p>
<h2 id="term_8">Protection de vos données</h2>
<p>Nous prenons les mesures techniques et organisationnelles adéquates pour protéger consciencieusement vos données contre la perte, la destruction, la falsification, la manipulation ou l'accès non autorisé. Nous exploitons des réseaux de données sûrs qui répondent aux normes techniques en vigueur. Nos mesures de sécurité sont adaptées et améliorées en permanence en fonction des évolutions technologiques.</p>
<p>Nos collaborateurs et les entreprises prestataires mandatées par nos soins sont tenus au secret et au respect des dispositions légales en matière de protection des données.</p>
<h2 id="term_9">Vos droits en tant qu'utilisateur de notre site Web</h2>
<p>Conformément à la loi applicable, vous disposez des droits suivants concernant vos données personnelles. Vous pouvez faire valoir les droits suivants auprès de la personne responsable de la protection des données:</p>
<ul>
	<li>Informations sur vos données sauvegardées et leur traitement</li>
	<li>Rectification de données personnelles erronées</li>
	<li>Effacement de toutes vos données enregistrées</li>
	<li>Limitation du traitement des données dans la mesure où nous ne pouvons pas effacer vos données pour des raisons légales</li>
	<li>Opposition au traitement de vos données</li>
	<li>Droit de portabilité des données, cela signifie que vous pouvez obtenir vos données sauvegardées dans un format lisible par ordinateur si vous avez consenti à ce que nous traitions vos données ou que vous avez conclu un contrat avec nous</li>
</ul>
<p>Veuillez noter que l'octroi de vos droits peut être refusé ou restreint en partie pour des raisons légales ou en vertu de la législation sur la protection des données. Si la loi l'exige et/ou l'autorise, nous vous informerons des motifs de notre décision.</p>
<h2 id="term_10">Responsabilité</h2>
<p>Le responsable de la collecte, du traitement et de l'utilisation de vos données personnelles est:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>La personne responsable de la protection des données est:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Si vous souhaitez vous opposer à la collecte, au traitement ou à l'utilisation de vos données, intégralement ou partiellement, par nos soins conformément aux présentes dispositions relatives à la protection des données, vous pouvez adresser votre requête à la personne responsable.</p>




