<ol>
	<li><a href="#term_1">Informativa sulla protezione dei dati</a></li>
	<li><a href="#term_2">Trattamento di dati personali</a></li>
	<li><a href="#term_3">Dati raccolti direttamente da noi</a>
		<ol>
			<li><a href="#term_3_1">Moduli di richiesta</a></li>
			<li><a href="#term_3_2">Registrazione di un profilo di ricerca immobiliare</a></li>
			<li><a href="#term_3_3">Abbonamento alla newsletter</a></li>
			<li><a href="#term_3_4">Raccolta di dati nel processo di candidatura</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Dati raccolti attraverso servizi di terzi</a>
		<ol>
			<li><a href="#term_4_1">Utilizzo di cookie</a></li>
			<li><a href="#term_4_2">Utilizzo di Google Analytics</a></li>
			<li><a href="#term_4_3">Utilizzo di librerie di script</a></li>
			<li><a href="#term_4_4">Utilizzo di Google Maps</a></li>
			<li><a href="#term_4_5">Utilizzo di social plugin</a></li>
		</ol>
	</li>
	<li><a href="#term_5">I vostri diritti in qualità di utenti del nostro sito web</a></li>
	<li><a href="#term_6">Responsabilità</a></li>
</ol>







<h2 id="term_1">Informativa sulla protezione dei dati</h2>
<p>La seguente informativa sulla protezione dei dati si applica all’utilizzo di questo sito web. Di regola, è pos-sibile utilizzare il nostro sito web senza alcuna necessità di fornire dati personali. Tuttavia, se ci si vuole avvalere di particolari servizi offerti dalla nostra società attraverso il sito web, potrebbe rendersi necessario trattare alcuni dati personali.</p>
<p>Questo sito web è soggetto alla <a href="https://www.admin.ch/opc/it/classified-compilation/19920153/index.html" target="_blank">Legge federale sulla protezione dei dati (LPD)</a> e recepisce i punti fondamentali del <a href="https://www.edoeb.admin.ch/edoeb/it/home/documentazione/basi-legali/Datenschutz%20-%20International/DSGVO.html" target="_blank">Regolamento generale sulla protezione dei dati (RGPD)</a> dell’Unione europea (UE).</p>
<p>Ci impegniamo a garantire la sicurezza dei vostri dati conformandoci alle leggi vigenti in materia di pro-tezione dei dati e adottando le opportune misure tecniche. In genere, trasmettiamo i vostri dati personali in forma cifrata. Utilizziamo il sistema di codifica SSL (Secure Socket Layer) ma precisiamo che il trasferimen-to di dati tramite Internet (ad es. in caso di comunicazione via e-mail) può evidenziare lacune in termini di sicurezza.</p>
<p>La presente informativa sulla protezione dei dati viene costantemente integrata e adeguata in funzione del quadro normativo e dei servizi offerti. In ogni caso si applica sempre la regolamentazione attuale in materia di protezione dei dati. Eventuali modifiche entrano in vigore nel momento in cui sono pubblicate sul nostro sito web.</p>
<h2 id="term_2">Trattamento di dati personali</h2>
<p>Potete registrarvi sul sito web indicando i vostri dati personali per usufruire di vari servizi. La specifica mas-chera di inserimento dei dati utilizzata per la registrazione determina quali dati personali vengono trasmessi al responsabile del trattamento.</p>
<p><strong>Sono dati personali</strong> tutte le informazioni che si riferiscono a una persona determinata o identificabile. Tra questi figurano ad esempio il nome, il recapito, l’indirizzo e-mail o il numero di telefono di una persona. Questi dati personali possono essere trattati da noi. Per trattamento si intende qualsiasi operazione o in-sieme di operazioni, compiute con o senza l’ausilio di processi automatizzati e applicate a dati personali, come la raccolta, la registrazione, l’organizzazione, la strutturazione, la conservazione, l’adattamento o la modifica, l’estrazione, la consultazione, l’uso, la comunicazione mediante trasmissione, diffusione o qual-siasi altra forma di messa a disposizione, il raffronto o l’interconnessione, la limitazione, la cancellazione o la distruzione.</p>
<p><strong>I dati personali da voi inseriti saranno raccolti e conservati esclusivamente per l’uso interno da parte del responsabile del trattamento e per determinati scopi propri. Se possibile, i dati vengono resi ano-nimi. Anonimi significa che da essi non è possibile risalire alla persona interessata.</strong></p>
<p>Il criterio per la durata della conservazione di dati personali è il rispettivo periodo di conservazione statuito dalla legge. Allo scadere di questo periodo, i dati corrispondenti vengono regolarmente cancellati, purché non siano più necessari per l’adempimento del contratto o le fasi preliminari di un contratto.</p>
<h2 id="term_3">Dati raccolti direttamente da noi</h2>
<p>Contestualmente all’utilizzo del nostro sito web e dei relativi servizi possiamo raccogliere i seguenti dati:</p>
<h3 id="term_3_1">Moduli di richiesta</h3>
<p>Se siete interessati a una determinata offerta immobiliare potete inviarci una richiesta compilando un modu-lo. La specifica maschera di inserimento dei dati determina quali dati personali vengono trasmessi in fase di richiesta. I vostri dati possono essere registrati manualmente in un software di un fornitore terzo oppure importati tramite l’interfaccia. In base ai dati archiviati, è possibile che individuiamo altre offerte immobiliari corrispondenti ai criteri della vostra richiesta. L’individuazione di offerte immobiliari rilevanti può avvenire manualmente o automaticamente con l’ausilio di un software. Possiamo contattarvi via e-mail, a mezzo pos-ta o telefonicamente per comunicarvi tali offerte immobiliari. In ogni momento potete cancellare la vostra registrazione a questo servizio.</p>
<h3 id="term_3_2">Registrazione di un profilo di ricerca immobiliare</h3>
<p>Sul nostro sito web, gli utenti possono registrare un profilo di ricerca immobiliare compilando un modulo. Un profilo di ricerca immobiliare ha lo scopo di comunicarci le vostre preferenze in fatto di ricerca immobi-liare. La maschera di inserimento dei dati utilizzata a questo scopo determina quali dati personali vengono trasmessi con la registrazione del profilo.</p>
<p>The personal data collected when you record a property search profile will be used exclusively for the pur-pose of providing individual information on suitable property listings. The data transmitted may be recorded manually using software from a third-party provider or may be imported via an interface. If properties that meet the search criteria are available, we may notify you by email, letter or telephone. We may also contact you periodically to update your personal data with regard to the property search profile. You have the op-tion to temporarily deactivate or permanently delete your property search profile at any time.</p>
<h3 id="term_3_3">Abbonamento alla newsletter</h3>
<p>Potete iscrivervi alla newsletter della nostra società compilando un modulo o inviando un’e-mail. Per il primo invio della newsletter, potrebbe essere inviata un’e-mail di conferma all’indirizzo e-mail indicato nel quadro di una procedura double-opt-in. Ci impegniamo a utilizzare un software apposito per l’invio delle newsletter, che garantisce una corretta protezione dei dati.</p>
<p>In ogni momento potete annullare il vostro abbonamento alla newsletter. In ogni newsletter si trova un link per la cancellazione dal servizio. In assenza di questo link, vi preghiamo di contattare la persona incaricata della protezione dei dati del nostro sito web. La nostra newsletter può contenere un web beacon. Un web beacon è una piccola immagine grafica incorporata in queste e-mail, per registrare dati sotto forma di log file e analizzare il log file. In questo modo è possibile condurre un’analisi statistica del successo o del falli-mento di campagne di marketing online. L’analisi può avvenire in forma anonima o con riferimento a dati personali.</p>
<h3 id="term_3_4">Raccolta di dati nel processo di candidatura</h3>
<p>Possiamo raccogliere e trattare dati personali messi a disposizione dai candidati allo scopo di condurre un processo di candidatura. Il trattamento può avvenire anche in modalità elettronica. Ciò in particolare nel ca-so in cui un candidato ci trasmetta i corrispondenti documenti di candidatura in modalità elettronica, ad esempio via e-mail o attraverso un modulo online compilabile sul sito web.</p>
<h2 id="term_4">Dati raccolti attraverso servizi di terzi</h2>
<p>Per migliorare costantemente la qualità dei nostri servizi, il nostro sito web incorpora le seguenti tecnologie:</p>
<h3 id="term_4_1">Utilizzo di cookie</h3>
<p>In determinati casi possiamo impiegare cookie. Grazie a un cookie è possibile ottimizzare le informazioni e le offerte sul nostro sito web a favore degli utenti. I cookie ci consentono di riconoscere gli utenti del nostro sito web. Lo scopo di questo riconoscimento è agevolare l’utilizzo del nostro sito web per gli utenti. Potete impedire in qualsiasi momento l’utilizzo di cookie da parte del nostro sito web adeguando opportunamente le impostazioni del browser di Internet utilizzato.</p>
<h3 id="term_4_2">Utilizzo di Google Analytics</h3>
<p>Google Analytics è un servizio di analisi web. La nostra analisi web prevede l’acquisizione, la raccolta e l’analisi anonime di dati sul comportamento degli utenti che visitano siti web. Un servizio di analisi web re-gistra, tra le altre cose, anche dati relativi a: il sito web dal quale un utente è approdato a un altro sito web, la sottopagina del sito web che ha visitato o la frequenza e la durata della visita a una sottopagina. Per re-gistrare queste informazioni, Google Analytics impiega un cookie. Potete impedire in qualsiasi momento l’utilizzo di cookie attraverso il nostro sito web, come già descritto sopra, adattando opportunamente le impostazioni del browser di Internet utilizzato. </p>
<h3 id="term_4_3">Utilizzo di librerie di script</h3>
<p>Per trasmettere correttamente i contenuti, sul nostro sito web utilizziamo librerie di script e librerie di caratteri (ad es. Google Fonts). Quando si richiama una libreria di script o di caratteri si instaura una connessione con l’offerente della libreria. È possibile che il gestore della libreria raccolga i dati di questa connessione.</p>
<h3 id="term_4_4">Utilizzo di Google Maps</h3>
<p>Utilizziamo un’interfaccia di comunicazione con dati geospecifici di Google al fine di visualizzare informazio-ni di localizzazione. In questo contesto, Google registra e utilizza dati sull’utilizzo della funzione della mappa. Per informazioni sull’utilizzo dei dati da parte di Google è possibile consultare l’informativa sulla protezione dei dati di Google. </p>
<h3 id="term_4_5">Utilizzo di social plugin</h3>
<p>Sul nostro sito web possono essere impostati social plugin di vari offerenti di social network. Questi plugin consentono al social network corrispondente di utilizzare informazioni, tra le quali anche dati personali. Se la persona interessata è contemporaneamente registrata (ha effettuato il login) a un social network durante la sua visita al nostro sito web, è possibile che avvenga una trasmissione di dati personali. Non abbiamo al-cun potere sui dati che vengono utilizzati. Da parte nostra non vengono registrati dati personali da social plugin. Per conoscere come vengono raccolti, trattati e utilizzati i dati personali, consultare le direttive in materia di protezione dei dati dei social network corrispondenti.</p>
<h2 id="term_5">I vostri diritti in qualità di utenti del nostro sito web</h2>
<p>Le leggi applicabili garantiscono diversi diritti relativamente ai vostri dati personali. Potete esercitare i se-guenti diritti presso il nostro incaricato della protezione dei dati:</p>
<ul>
	<li>Ottenere informazioni sui vostri dati archiviati e sul relativo trattamento</li>
	<li>Chiedere la rettifica di dati personali errati</li>
	<li>Chiedere la cancellazione dei vostri dati archiviati</li>
	<li>Chiedere la limitazione del trattamento dei dati, purché obblighi di legge non ci impediscano di can-cellare i vostri dati</li>
	<li>Opporvi al trattamento dei vostri dati</li>
	<li>Ottenere il trasferimento dei dati, ossia ricevere i dati archiviati in un formato leggibile da dispositivo automatico, purché abbiate acconsentito al trattamento dei dati o abbiate stipulato un contratto con noi.</li>
</ul>
<h2 id="term_6">Responsabilità</h2>
<p>Il responsabile della raccolta, del trattamento e dell’utilizzo dei vostri dati personali è:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>L’incaricato della protezione dei dati è:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Se desiderate opporvi, in tutto o solo in parte, alla raccolta, al trattamento o all’utilizzo dei vostri dati da parte nostra secondo quanto indicato nella presente informativa sulla protezione dei dati potete rivolgervi al responsabile.</p>




