<ol>
	<li><a href="#term_1">Privacy policy</a></li>
	<li><a href="#term_2">Processing of personal data</a></li>
	<li><a href="#term_3">Data collected directly by us</a></li>
		<ol>
			<li><a href="#term_3_1">Enquiry form</a></li>
			<li><a href="#term_3_2">Recording a property search profile</a></li>
			<li><a href="#term_3_3">Registering for the newsletter</a></li>
			<li><a href="#term_3_4">Data collection during an application process</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Data collected via third-party services</a>
		<ol>
			<li><a href="#term_4_1">Use of cookies</a></li>
			<li><a href="#term_4_2">Use of Google Analytics</a></li>
			<li><a href="#term_4_3">Use of script libraries</a></li>
			<li><a href="#term_4_4">Use of Google Maps</a></li>
			<li><a href="#term_4_5">Use of social plug-ins</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Your rights as a user of our website</a></li>
	<li><a href="#term_6">Responsibility</a></li>
</ol>







<h2 id="term_1">Privacy policy</h2>
<p>The following privacy policy applies to the use of this website. It is generally possible to use our website without providing personal data. However, if you would like to take advantage of particular services from our company via our website, personal data may need to be processed.</p>
<p>This website is subject to the provisions of the <a href="https://www.admin.ch/opc/de/classified-compilation/19920153/index.html" target="_blank">Swiss Federal Act on Data Protection (FADP)</a> and complies with the key points of the European Union (EU) <a href="https://www.edoeb.admin.ch/edoeb/de/home/dokumentation/rechtliche-grundlagen/Datenschutz%20-%20International/DSGVO.html" target="_blank">General Data Protection Regulation (GDPR)</a>.</p>
<p>We ensure the security of your data in accordance with applicable data protection legislation and to the extent technically possible. We will generally transmit your personal data in encrypted form. We use the SSL (Secure Sockets Layer) encoding system. However, please note that the transmission of data via the inter-net (e.g. communication by email) may be subject to security vulnerabilities.</p>
<p>This privacy policy is continuously updated and adapted in line with legal requirements and the services that we offer. The latest version of the privacy notice always applies. Changes enter into force as soon as they are published on our website.</p>
<h2 id="term_2">Processing of personal data</h2>
<p>You have the option to register for various services on the website by providing personal data. The personal data that is transmitted to the party responsible for processing is generally determined by the particular input screen used for registration.</p>
<p><strong>Personal data</strong> means any information relating to an identified or identifiable person. For example, this may include a person’s name, address, email address or telephone number. We may process this type of per-sonal data. Processing means any operation or set of operations that is performed on personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adap-tation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise mak-ing available, alignment or combination, restriction, erasure or destruction.</p>
<p><strong>The personal data that you submit is collected and stored exclusively for internal use by the party re-sponsible for processing and for our own purposes. Wherever possible, data will be anonymised. Anonymisation means that the person concerned cannot be identified.</strong></p>
<p>The duration for which personal data will be stored is determined based on the relevant statutory retention period. Once this period has expired, the data will normally be deleted, provided that it is no longer required for the fulfilment or initiation of a contract.</p>
<h2 id="term_3">Data collected directly by us</h2>
<p>When you use our website and associated services, we may collect the following personal data:</p>
<h3 id="term_3_1">Enquiry form</h3>
<p>If you are interested in a particular property listing, you may send us an enquiry via a contact form. The per-sonal data that is transmitted during this enquiry is determined by the input screen in question. Your data may be recorded manually using software from a third-party provider or may be imported via an interface. We may have other property listings that, based on the stored data, fulfil the criteria specified in your en-quiry. Relevant property listings may be identified manually or automatically via software. We may notify you of such property listings via email, letter or telephone. You have the option to unsubscribe from this service at any time.</p>
<h3 id="term_3_2">Recording a property search profile</h3>
<p>Our website gives users the opportunity to store a property search profile by completing a form. The aim of a property search profile is to share your property search preferences with us. The personal data that is transmitted when you store this profile is determined by the input screen used.</p>
<p>The personal data collected when you record a property search profile will be used exclusively for the pur-pose of providing individual information on suitable property listings. The data transmitted may be recorded manually using software from a third-party provider or may be imported via an interface. If properties that meet the search criteria are available, we may notify you by email, letter or telephone. We may also contact you periodically to update your personal data with regard to the property search profile. You have the op-tion to temporarily deactivate or permanently delete your property search profile at any time.</p>
<h3 id="term_3_3">Registering for the newsletter</h3>
<p>You may register for our company newsletter via a form or by email. If possible, a double opt-in procedure will be used upon initial registration for the newsletter and a confirmation email will be sent to the email ad-dress provided. We ensure that we use software designed for the purpose of newsletter mailings, which ensures compliance with data protection regulations.</p>
<p>You have the option to unsubscribe from the newsletter at any time. A link to unsubscribe can be found in every newsletter. If this link is missing, please contact the data protection officer for our website. Our news-letter may contain a tracking pixel. A tracking pixel is a miniature graphic embedded in such an email to enable log-file recording and log-file analysis. This allows statistical evaluation of the success or failure of online marketing campaigns. The analysis may be performed using anonymised or identifiable personal data.</p>
<h3 id="term_3_4">Data collection during an application process</h3>
<p>We may collect and process personal data provided by applicants for the purpose of conducting an appli-cation process. Processing may also be carried out electronically. This is particularly the case when appli-cants submit application documents to us electronically, for example via email or a form on the website.</p>
<h2 id="term_4">Data collected via third-party services</h2>
<p>In order to continuously improve the quality of our services, we use the following technologies on our web-site:</p>
<h3 id="term_4_1">Use of cookies</h3>
<p>We may sometimes use cookies. Cookies can be used to optimise the information and offers on our web-site with the user in mind. Cookies allow us to recognise users who return to our website. This purpose of this recognition is to make the use of our website easier for users. You may prevent our website from set-ting cookies by adjusting your browser settings, thereby permanently blocking cookies.</p>
<h3 id="term_4_2">Use of Google Analytics</h3>
<p>Google Analytics is a web analytics service. Our web analytics includes the anonymous collection and anal-ysis of data on the behaviour of visitors to our website. The data recorded by a web analytics service in-cludes information on the website from which a user came to a website, which subpages were accessed, and how often and for how long a subpage was viewed. Google Analytics sets a cookie in order to record this information. As described above, you may adjust your browser settings to prevent our website from setting cookies. </p>
<h3 id="term_4_3">Use of script libraries</h3>
<p>We use script libraries and font libraries (e.g. Google Webfonts) to ensure correct delivery of content. The retrieval of a script library or font library results in a connection to the provider of the library. It is possible that the operator of the library may collect data on this connection.</p>
<h3 id="term_4_4">Use of Google Maps</h3>
<p>We use an interface to geographical data from Google to display location-based information. Google col-lects and uses data on the use of the map function. Information on how Google uses data is available in the Google privacy policy. </p>
<h3 id="term_4_5">Use of social plug-ins</h3>
<p>Plug-ins from various social network providers may be used on our website. The corresponding social net-works may use information, which can include personal data, via these plug-ins. If the person concerned is logged into a social network at the time of their visit to our website, it can be assumed that personal data will be transmitted. We have no control over the data that is used. We do not record any personal data from social plug-ins. The privacy policies of the corresponding social networks provide information on the collec-tion, processing and use of personal data.</p>
<h2 id="term_5">Your rights as a user of our website</h2>
<p>Under applicable law, you have various rights with regard to your personal data. You may contact our data protection officer to assert the following rights:</p>
<ul>
	<li>Information on your stored data and processing of this data</li>
	<li>Correction of inaccurate personal data</li>
	<li>Deletion of your stored data</li>
	<li>Restriction of the processing of data if we are not yet able to delete your data due to legal obliga-tions</li>
	<li>Objection to the processing of your data</li>
	<li>Data portability, i.e. the receipt of stored data in a machine-readable format, if you have consented to data processing or concluded a contract with us</li>
</ul>
<h2 id="term_6">Responsibility</h2>
<p>The party responsible for the collection, processing and use of your personal data is:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>The data protection officer is:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Should you wish to object to our collection, processing or use of your data as described by this privacy policy, whether in all respects or with regard to specific measures, please direct your objection to the re-sponsible parties.</p>




