<ol>
	<li><a href="#term_1">Data protection statement</a></li>
	<li><a href="#term_2">Collection of personal data</a></li>
	<li><a href="#term_3">Data that we collect directly</a>
		<ol>
			<li><a href="#term_3_1">Enquiry forms</a></li>
			<li><a href="#term_3_2">Creation of a real estate search profile</a></li>
			<li><a href="#term_3_3">Newsletter subscriptions</a></li>
			<li><a href="#term_3_4">Data collected in connection with job applications</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Data collected by third-party services</a>
		<ol>
			<li><a href="#term_4_1">Use of cookies</a></li>
			<li><a href="#term_4_2">Use of Google Analytics</a></li>
			<li><a href="#term_4_3">Use of script libraries</a></li>
			<li><a href="#term_4_4">Use of Google Maps</a></li>
			<li><a href="#term_4_5">Use of social plug-ins</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Your rights as a user of our website</a></li>
	<li><a href="#term_6">Responsibility</a></li>
</ol>







<h2 id="term_1">Data protection statement</h2>
<p>The following data protection statement applies to the use of our website. In general, you can use our website without having to provide any personal data. If, however, you wish to use a particular service that our company offers via our website, we may need to process personal data.</p>
<p>Our website is subject to the <a href="https://www.admin.ch/opc/de/classified-compilation/19920153/index.html" target="_blank">Swiss Federal Act of 19 June 1992 on Data Protection (FADP; Bundesgesetz vom 19. Juni 1992 über den Datenschutz – DSG)</a> and takes into account the key aspects of <a href="https://www.gdprexplained.eu/" target="_blank">General Data Protection Regulation (GDPR)</a> adopted by the European Union (EU).</p>
<p>Within the context of the applicable data protection legislation and the technical options available to us, we make every effort to ensure that your data remains secure. We generally encrypt your personal data before it is transmitted. While we use the Secure Socket Layer (SSL) coding system, we remind you that data transmission on the Internet (e.g. when communicating by e-mail) can create security vulnerabilities.</p>
<p>This data protection statement is supplemented on an ongoing basis to reflect the legal requirements and the services offered. The current data protection provisions apply in each case. The amendments come into force as soon as they are published on our website.</p>
<h2 id="term_2">Collection of personal data</h2>
<p>You can opt to register on the website for various services by providing personal data. The personal data transmitted to the controller, the body responsible for processing it, is usually determined by the input mask used to register.</p>
<p><strong>Personal data</strong> refers to all information relating to an identified or identifiable person. This can include someone’s name, address, e-mail address or telephone number. This personal data may be processed by us. Processing means any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>
<p><strong>The personal data that you enter will be collected and saved for internal use by the controller only and for the latter’s own purposes. Wherever possible, the data will be rendered anonymous. This means that the data does not allow any conclusions to be drawn about the identity of the data subject.</strong></p>
<p>The applicable statutory retention period is the criterion determining the period for which the personal data is stored. Once this deadline has expired, the data in question will be erased as a matter of routine, provided that it is no longer required for the performance or initiation of a contract.</p>
<h2 id="term_3">Data that we collect directly</h2>
<p>We can collect the following personal data in connection with the use of our website and the associated services:</p>
<h3 id="term_3_1">Enquiry forms</h3>
<p>If you are interested in a particular real estate offering, you can send us an enquiry using a form. The personal data transmitted along with the enquiry is determined by the input mask used. Your data can be recorded manually or via an interface in a software program developed by a third-party provider. Based on the data that has been saved, we may have other real estate offerings that meet the criteria set out in your enquiry. Relevant real estate offerings can be identified manually or on an automated basis using software. You can receive information on these real estate offerings by e-mail, post or telephone. You can unsubscribe from this service at any time.</p>
<h3 id="term_3_2">Creation of a real estate search profile</h3>
<p>Our website allows users to use a form to create a real estate search profile. A real estate search profile allows you to inform us of your preferences regarding the real estate you are looking for. The personal data transmitted when you complete the form is determined by the input mask used.</p>
<p>The personal data collected when you create a real estate search profile will only be used to provide you with personal information on suitable real estate offerings. The data transmitted can be recorded manually or via an interface in a software program developed by a third-party provider. If there is real estate available that meets your search criteria, we can inform you by e-mail, post or telephone. We can also contact you at regular intervals asking you to update your personal data in connection with the real estate search profile. You can opt to temporarily deactivate the real estate search profile, or to delete it entirely, at any time.</p>
<h3 id="term_3_3">Newsletter subscriptions</h3>
<p>You can use a form or an e-mail to subscribe to our company’s newsletter. If possible, a confirmation e-mail will be sent, as part of the double opt-in procedure, to the e-mail address you provide as the address you want the first newsletter to be sent to. We endeavour to use dedicated software to send out the newsletter to ensure a suitable level of data protection.</p>
<p>You can unsubscribe from the newsletter at any time. Each newsletter contains a link that you can use to unsubscribe. If you cannot find this link, please contact the data protection officer responsible for our website. Our newsletters may include a web bug. A web bug is a miniature graphic that is embedded in these e-mails in order to allow a log file to be created and analysed. This allows us to perform a statistical analysis on how successful or unsuccessful online marketing campaigns have been. This analysis can be performed either anonymously, or in a manner that can be traced back to particular pieces of personal data.</p>
<h3 id="term_3_4">Data collected in connection with job applications</h3>
<p>We can collect and process personal data that applicants make available as part of the applications process. The data can also be processed electronically. This is the case in particular if an applicant sends us corresponding application documents electronically, for example by e-mail or using a web form on the website.</p>
<h2 id="term_4">Data collected by third-party services</h2>
<p>We use the following technologies on our website in order to make continuous improvements to the quality of our services:</p>
<h3 id="term_4_1">Use of cookies</h3>
<p>We use cookies in certain cases. Cookies allow us to optimise the information and services available on our website for the benefit of the website users. Cookies allow us to recognise visitors to our website when they return. This is designed to make it easier for users to use our website. You can configure your Internet browser to stop our website from saving cookies at any time, allowing you to reject cookies on a permanent basis.</p>
<h3 id="term_4_2">Use of Google Analytics</h3>
<p>Google Analytics is a web analysis service. Our web analysis involves saving, collecting and evaluating data on the behaviour of website visitors anonymously. Among other things, a web analysis service collects data on the website a user accessed before visiting a particular website, which website subpages were accessed, how often a user accessed a particular subpage and how long the user spent there. Google Analytics uses a cookie to record this information. As already explained above, you can configure your Internet browser to stop our website from saving cookies at any time.</p>
<h3 id="term_4_3">Use of script libraries</h3>
<p>In order to display content correctly, we use script libraries and font libraries on our website (e.g. Google web fonts). When a script or font library is accessed, a connection is established with the library provider. It is possible that the library provider will collect data relating to this connection.</p>
<h3 id="term_4_4">Use of Google Maps</h3>
<p>We use an interface to geo-specific Google data to visualise location-based information. Google collects and uses data concerning the use of the maps function within this context. Information on how Google uses data can be found in Google’s data privacy statements.</p>
<h3 id="term_4_5">Use of social plug-ins</h3>
<p>Our website may use social plug-ins of various social network providers. These plug-ins allow information, including personal data, to be used by the corresponding social networks. If the data subject is logged in to a social network while he/she visits our website, he/she can assume that personal data will be transmitted. We have no influence over the data that is used. We do not record any personal data relating to social plug-ins. The data protection policies of the social networks in question provide information on the collection, processing and use of personal data.</p>
<h2 id="term_5">Your rights as a user of our website</h2>
<p>The applicable legislation awards you various rights regarding your personal data. You can assert the following rights by contacting our data protection officer:</p>
<ul>
	<li>Right to access the data concerning you that has been saved, as well as information on the processing of this data</li>
	<li>Rectification of incorrect personal data</li>
	<li>Erasure of data that has been saved</li>
	<li>Restriction of processing if we are unable to erase your data due to statutory obligations</li>
	<li>Objection to the processing of your data</li>
	<li>Data portability, i.e. receipt of the data saved in a machine-readable format if you have consented to data processing
	or have concluded a contract with us</li>
</ul>
<h2 id="term_6">Responsibility</h2>
<p>The "controller" for the collection, processing and use of your personal data is:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>The data protection officer is:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>If you wish to object to the collection, processing or use of your data by us, either in full or in respect of individual measures, based on these data protection provisions, you can send your objection to the controller.</p>




