<ol>
	<li><a href="#term_1">Informativa sulla protezione dei dati</a></li>
	<li><a href="#term_2">Trattamento di dati personali</a></li>
	<li><a href="#term_3">Dati raccolti direttamente da noi</a>
		<ol>
			<li><a href="#term_3_1">Moduli di richiesta</a></li>
			<li><a href="#term_3_2">Registrazione di un profilo di ricerca immobiliare</a></li>
			<li><a href="#term_3_3">Abbonamento alla newsletter</a></li>
			<li><a href="#term_3_4">Raccolta di dati nel processo di candidatura</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Dati raccolti attraverso servizi di terzi</a>
		<ol>
			<li><a href="#term_4_1">Utilizzo di cookie</a></li>
			<li><a href="#term_4_2">Utilizzo di Google Analytics</a></li>
			<li><a href="#term_4_3">Utilizzo di librerie di script</a></li>
			<li><a href="#term_4_4">Utilizzo di Google Maps</a></li>
			<li><a href="#term_4_5">Utilizzo di social plugin</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Trasmissione di dati a terzi</a></li>
	<li><a href="#term_6">Trasmissione di dati personali all'estero</a></li>
	<li><a href="#term_7">Durata della conservazione dei dati</a></li>
	<li><a href="#term_8">Protezione dei dati</a></li>
	<li><a href="#term_9">I vostri diritti in qualità di utenti del nostro sito web</a></li>
	<li><a href="#term_10">Responsabilità</a></li>
</ol>



<h2 id="term_1">Informativa sulla protezione dei dati</h2>
<p>La seguente informativa sulla protezione dei dati si applica all'utilizzo di questo sito web. Di regola, è possibile utilizzare il nostro sito web senza alcuna necessità di fornire dati personali. Tuttavia, se tramite il nostro sito web desiderate usufruire di un particolare servizio offerto dalla nostra azienda, potrebbe rendersi necessario il trattamento dei dati personali.</p>
<p>Questo sito web è soggetto alla <a href="https://www.fedlex.admin.ch/eli/oc/2022/491/it" target="_blank">Legge federale sulla protezione dei dati (LPD)</a> e recepisce i punti fondamentali del <a href="https://www.fedlex.admin.ch/eli/oc/2022/491/it" target="_blank">Regolamento generale sulla protezione dei dati (RGPD)</a> dell'Unione europea (UE).</p>
<p>Ci impegniamo a garantire la sicurezza dei vostri dati nel rispetto delle leggi vigenti sulla protezione dei dati e delle possibilità tecniche disponibili. In genere, trasmettiamo i vostri dati personali in forma cifrata. Utilizziamo il sistema di codifica SSL (Secure Socket Layer) ma precisiamo che il trasferimento di dati tramite Internet (ad es. in caso di comunicazione via e-mail) può evidenziare lacune in termini di sicurezza.</p>
<p>La presente informativa sulla protezione dei dati viene costantemente integrata e adeguata in funzione del quadro normativo e dei servizi offerti. In ogni caso si applica sempre la regolamentazione attuale in materia di protezione dei dati. Eventuali modifiche entrano in vigore nel momento in cui sono pubblicate sul nostro sito web.</p>
<h2 id="term_2">Trattamento di dati personali</h2>
<p>Potete registrarvi sul sito web indicando i vostri dati personali per usufruire di vari servizi. La specifica maschera di inserimento dei dati utilizzata per la registrazione determina quali dati personali vengono trasmessi al responsabile del trattamento.</p>
<p>Sono <strong>dati personali</strong> tutte le informazioni che si riferiscono a una persona identificata o identificabile. Tra questi figurano ad esempio il nome, il recapito, l'indirizzo e-mail o il numero di telefono di una persona. Questi dati personali possono essere trattati da noi. Per <strong>trattamento</strong> si intende qualsiasi operazione o insieme di operazioni, compiute con o senza l'ausilio di processi automatizzati e applicate a dati personali, come la raccolta, la registrazione, l'organizzazione, la selezione, la conservazione, l'adattamento o la modifica, l'estrazione, la consultazione, l'uso, la comunicazione mediante trasmissione, diffusione o qualsiasi altra forma di messa a disposizione, il raffronto o l'interconnessione, la limitazione, la cancellazione o la distruzione.</p>
<p><strong>I dati personali da voi inseriti saranno raccolti e conservati esclusivamente per l'uso interno da parte del responsabile del trattamento e per le proprie finalità. Se possibile, i dati vengono resi anonimi. Per anonimizzazione si intende l'impossibilità di risalire all'identità della persona interessata.</strong></p>
<p>Il criterio per la durata della conservazione dei dati personali è il rispettivo periodo di conservazione previsto dalla legge o un nostro interesse legittimo alla conservazione dei dati, ad esempio per l'adempimento di un contratto o per finalità di conservazione della prova. Alla scadenza di tale periodo i dati in questione vengono cancellati di routine.</p>
<h2 id="term_3">Dati raccolti direttamente da noi</h2>
<p>Contestualmente all'utilizzo del nostro sito web e dei relativi servizi possiamo raccogliere i seguenti dati:</p>
<h3 id="term_3_1">Moduli di richiesta</h3>
<p>Se siete interessati a una determinata offerta immobiliare, potete inviarci una richiesta compilando un modulo. La specifica maschera di inserimento dei dati determina quali dati personali vengono trasmessi in fase di richiesta. I vostri dati possono essere registrati manualmente in un software di un fornitore terzo oppure importati tramite l'interfaccia. In base ai dati memorizzati possiamo proporvi altre offerte immobiliari corrispondenti ai criteri della vostra richiesta. L'individuazione di offerte immobiliari rilevanti può avvenire manualmente o automaticamente con l'ausilio di un software. Possiamo contattarvi via e-mail, a mezzo posta o telefonicamente per comunicarvi tali offerte immobiliari. In ogni momento potete cancellare la vostra registrazione a questo servizio.</p>
<h3 id="term_3_2">Creazione di un profilo di ricerca immobiliare</h3>
<p>Sul nostro sito web, gli utenti hanno la possibilità di creare un profilo di ricerca immobiliare compilando un modulo. Un profilo di ricerca immobiliare ha lo scopo di comunicarci le vostre preferenze in fatto di ricerca immobiliare. La maschera di inserimento dei dati utilizzata a questo scopo determina quali dati personali vengono trasmessi con la creazione del profilo.</p>
<p>I dati personali raccolti per la creazione di un profilo di ricerca immobiliare vengono utilizzati esclusivamente per fornirvi informazioni su offerte immobiliari adeguate. I dati trasmessi possono essere registrati manualmente in un software di un fornitore terzo oppure importati tramite l'interfaccia. Se esistono immobili corrispondenti ai criteri di ricerca, possiamo informarvi via e-mail, a mezzo posta o telefonicamente. Possiamo inoltre contattarvi a cadenza regolare per aggiornare i vostri dati personali relativi al profilo di ricerca immobiliare. In qualsiasi momento potete disattivare temporaneamente o cancellare definitivamente il vostro profilo di ricerca immobiliare.</p>
<h3 id="term_3_3">Abbonamento alla newsletter</h3>
<p>Potete iscrivervi alla newsletter della nostra azienda compilando il modulo o inviando un'e-mail. Se possibile, al primo invio della newsletter verrà inviata un'e-mail di conferma all'indirizzo e-mail indicato con procedura di double opt-in. In ogni momento potete annullare il vostro abbonamento alla newsletter. In ogni newsletter si trova un link per la cancellazione dal servizio. In assenza di questo link, vi preghiamo di contattare il responsabile della protezione dei dati del nostro sito web. </p>
<p>La nostra newsletter può contenere un web beacon. Un web beacon (o pixel di tracciamento) è una miniatura grafica incorporata in queste e-mail, che consente la registrazione e l'analisi dei file di log. Questi servono alla valutazione statistica del successo o del fallimento delle campagne di marketing online. L'analisi può avvenire in forma anonima o con riferimento a dati personali. È possibile disattivare il caricamento di queste grafiche esterne / pixel di tracciamento nelle impostazioni di tutti i comuni programmi di posta elettronica.</p>
<h3 id="term_3_4">Raccolta di dati nel processo di candidatura</h3>
<p>Possiamo raccogliere e trattare dati personali messi a disposizione dai candidati nell'ambito di un processo di candidatura. Il trattamento può avvenire anche in modalità elettronica. Questo vale in particolare nel caso in cui un candidato ci trasmetta i corrispondenti documenti di candidatura in modalità elettronica, ad esempio via e-mail o attraverso un modulo online compilabile sul sito web. I dati trasmessi vengono utilizzati esclusivamente in relazione al profilo professionale per il quale è stata effettuata la candidatura.</p>
<h2 id="term_4">Dati raccolti attraverso servizi di terzi</h2>
<p>Per migliorare costantemente la qualità dei nostri servizi, sul nostro sito web sono state integrate le seguenti tecnologie:</p>
<h3 id="term_4_1">Cookie</h3>
<p>In determinati casi facciamo uso di cookie. Grazie ai cookie è possibile ottimizzare le informazioni e le offerte del nostro sito web nell'interesse dell'utente. I cookie ci consentono di riconoscere gli utenti del nostro sito web. Lo scopo di questo riconoscimento è agevolare l'utilizzo del nostro sito web per gli utenti. Potete impedire al nostro sito web di utilizzare cookie in qualsiasi momento, adeguando opportunamente le impostazioni del browser internet utilizzato, bloccando così in modo permanente l'utilizzo di cookie.</p>
<h3 id="term_4_2">Utilizzo di Google Analytics</h3>
<p>Google Analytics è un servizio di analisi web. La nostra analisi web prevede l'acquisizione, la raccolta e l'analisi anonime di dati sul comportamento degli utenti che visitano siti web. Un servizio di analisi web registra, tra le altre cose, anche dati relativi a: il sito web dal quale un utente è approdato a un altro sito web (il nostro), la sottopagina del sito web che ha visitato o la frequenza e la durata della visita a una sottopagina. Per registrare queste informazioni, Google Analytics impiega un cookie. Come indicato sopra, potete impedire in qualsiasi momento l'utilizzo di cookie da parte del nostro sito web mediante un'apposita impostazione nel browser internet da voi utilizzato.</p>


<h3 id="term_4_3">Utilizzo di librerie di script</h3>
<p>Per fornire correttamente i contenuti o per proteggerli dallo spam, sul nostro sito web utilizziamo librerie di script e librerie di caratteri (ad es. Google Web Fonts per i caratteri, Google Ratings per le valutazioni o Google Recaptcha per proteggere il sito web dallo spam). Quando si richiama una libreria di script o di caratteri si instaura una connessione con l'offerente della libreria. È possibile che il gestore della libreria raccolga i dati di questa connessione.</p>
<h3 id="term_4_4">Utilizzo di Google Maps</h3>
<p>Utilizziamo un'interfaccia di comunicazione con dati geospecifici di Google al fine di visualizzare informazioni di localizzazione. In questo contesto, Google registra e utilizza dati sull'utilizzo della funzione della mappa. Per informazioni sull'utilizzo dei dati da parte di Google è possibile consultare <a href="https://policies.google.com/privacy?hl=it" target="_blank">l'informativa sulla protezione dei dati di Google.</a></p>
<h3 id="term_4_5">Utilizzo di social plugin</h3>
<p>Sul nostro sito web possono essere impostati social plugin di vari offerenti di social network. Tramite questi plugin, i rispettivi social network utilizzano determinate informazioni, tra cui possono rientrare anche i dati personali. Se la persona interessata si collega a un social network contemporaneamente alla visita del nostro sito web, si può presumere che i dati personali vengano trasmessi ai social network. Non esercitiamo alcuna influenza sui dati utilizzati dai social network. Noi non utilizziamo social plugin per la registrazione dei dati personali. Per conoscere come vengono raccolti, trattati e utilizzati i dati personali, consultare le direttive in materia di protezione dei dati dei social network in questione.</p>


<h2 id="term_5">Trasmissione di dati a terzi</h2>
<p>Per combattere truffe e abusi o se sospettiamo in altro modo un'attività criminale, possiamo divulgare i vostri dati a forze dell'ordine e tribunali svizzeri ed esteri.</p>
<p>Oltre alla trasmissione dei vostri dati sopra descritta, inoltriamo i vostri dati solo a fronte di un vostro esplicito consenso in conformità alla legge sulla protezione dei dati, se sussistono obblighi di legge o se ciò è necessario per far valere i nostri diritti, in particolare per far valere i diritti derivanti dal rapporto contrattuale, che rappresenta un nostro interesse preponderante.</p>
<h2 id="term_6">Trasmissione di dati personali all'estero</h2>	
<p>Possiamo trasferire i vostri dati personali anche a società terze o fornitori di servizi incaricati all'estero, in particolare in Europa e negli Stati Uniti, purché ciò sia appropriato ai fini del trattamento dei dati descritto nella presente informativa sulla protezione dei dati. Questi sono ugualmente tenuti alla protezione dei dati. Se il livello di protezione dei dati in uno Stato non corrisponde a quello della Svizzera, garantiamo mediante opportune disposizioni contrattuali che la protezione dei vostri dati personali corrisponda sempre a quella vigente in Svizzera. Per garantire ciò, stipuliamo con i fornitori di servizi incaricati clausole modello UE o altri contratti approvati dal Commissario Federale Svizzero per la Protezione e la Comunicazione dei Dati.</p>
<h2 id="term_7">Durata della conservazione dei dati</h2>	
<p>Conserviamo i vostri dati solo per il tempo strettamente necessario dal punto di vista legale o in conformità allo scopo del trattamento, in particolare per l'esecuzione del mandato o del contratto e per l'adempimento di obblighi legali. </p>
<p>Nell'ambito dell'analisi, conserviamo i vostri dati solo fino alla conlusione del processo o fino al momento in cui non vi èstata opposizione a un ulteriore trattamento. I dati archiviati in seguito a un rapporto contrattuale stipulato con voi rimarranno archiviati almeno finché sussiste il rapporto contrattuale e non oltre la data di decorrenza dei termini di prescrizione per eventuali rivendicazioni da parte nostra o comunque finché sussistono obblighi di conservazione previsti dalla legge o dal contratto. </p>
<p>Per legge, i contenuti del modulo di contatto e la seguente corrispondenza via e-mail devono essere da noi conservati per sei mesi.</p>
<p>La cancellazione avverrà nel caso in cui i vostri dati non saranno più necessari per le finalità di trattamento dichiarate e anche nel caso in cui non saremo più tenuti per legge a conservarli.</p>
<h2 id="term_8">Protezione dei dati</h2>	
<p>Adottiamo adeguate disposizione tecniche e organizzative per proteggere scrupolosamente i vostri dati da perdita, distruzione, falsificazione, manipolazione o da accesso non autorizzato. Gestiamo reti di dati sicure conformi agli standard tecnici vigenti. Le nostre misure di sicurezza vengono costantemente adeguate e migliorate in linea con gli sviluppi tecnologici.</p>
<p>I nostri collaboratori e le aziende di servizi da noi incaricate sono tenuti al segreto e al rispetto delle disposizioni in materia di protezione dei dati.</p>

<h2 id="term_9">I vostri diritti in qualità di utenti del nostro sito web</h2>
<p>Le leggi applicabili garantiscono diversi diritti relativamente ai vostri dati personali. Potete esercitare i seguenti diritti presso il nostro responsabile della protezione dei dati:</p>
<ul>
	<li>Ottenere informazioni sui vostri dati archiviati e sul relativo trattamento</li>
	<li>Correzione di dati personali errati</li>
	<li>Chiedere la cancellazione dei vostri dati archiviati</li>
	<li>Chiedere la limitazione del trattamento dei dati, purché obblighi di legge non ci impediscano di cancellare i vostri dati</li>
	<li>Opporvi al trattamento dei vostri dati</li>
	<li>Ottenere il trasferimento dei dati, ossia ricevere i dati archiviati in un formato leggibile da dispositivo automatico, purché abbiate acconsentito al trattamento dei dati o abbiate stipulato un contratto con noi.</li>
</ul>
<p>Si prega di notare che l'esercizio di tali diritti può essere limitato, in tutto o in parte, per motivi legali o in virtù della legge sulla protezione dei dati. Laddove necessario e consentito per legge, vi informeremo dei motivi della nostra decisione.</p>
<h2 id="term_10">Responsabilità</h2>
<p>Il responsabile della raccolta, del trattamento e dell'utilizzo dei vostri dati personali è:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>L'incaricato della protezione dei dati è:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Se desiderate opporvi, in tutto o solo in parte, alla raccolta, al trattamento o all'utilizzo dei vostri dati da parte nostra secondo quanto indicato nella presente informativa sulla protezione dei dati potete rivolgervi al responsabile.</p>




