<ol>
	<li><a href="#term_1">Déclaration de confidentialité</a></li>
	<li><a href="#term_2">Traitement des données personnelles</a></li>
	<li><a href="#term_3">Les données que nous prélevons directement</a></li>
		<ol>
			<li><a href="#term_3_1">Formulaires de demande</a></li>
			<li><a href="#term_3_2">Création d’un profil de recherche immobilière</a></li>
			<li><a href="#term_3_3">Inscription à la newsletter</a></li>
			<li><a href="#term_3_4">Collecte de données lors de candidatures</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Données collectées par des services tiers</a></li>
		<ol>
			<li><a href="#term_4_1">Utilisation de cookies</a></li>
			<li><a href="#term_4_2">Utilisation de Google Analytics</a></li>
			<li><a href="#term_4_3">Utilisation de bibliothèques de scripts</a></li>
			<li><a href="#term_4_4">Utilisation de Google Maps</a></li>
			<li><a href="#term_4_5">Utilisation de plug-ins sociaux</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Vos droits en tant qu’utilisateur de notre site</a></li>
	<li><a href="#term_6">Responsabilité</a></li>
</ol>







<h2 id="term_1">Déclaration de confidentialité</h2>
<p>La déclaration de confidentialité suivante s’applique lors de l’utilisation de ce site Web. Il est possible d’utiliser notre site Web sans indiquer de données personnelles. Dans le cas où vous souhaiteriez utiliser un service précis de notre entreprise via notre site Web, il est cependant possible que nous devions traiter vos données personnelles.</p>
<p>Ce site Web est soumis à la loi fédérale sur la protection des données (LPD) (https://www.admin.ch/opc/fr/classified-compilation/19920153/index.html) et respecte les aspects principaux du règlement général sur la protection des données (RGPD) (ref: https://www.edoeb.admin.ch/edoeb/fr/home/documentation/bases-legales/Datenschutz%20-%20International/DSGVO.html) de l’Union européenne (UE).</p>
<p>Nous nous efforçons d’assurer la sécurité de vos données dans le cadre des lois applicables en matière de protection des données et des possibilités techniques. Nous transmettons généralement vos données per-sonnelles sous forme cryptée. Nous utilisons le système de cryptage SSL (Secure Socket Layer), mais souhaitons attirer votre attention sur le fait que la transmission de données sur Internet (par ex. lors de la communication par e-mail) peut présenter des failles de sécurité.</p>
<p>Cette déclaration de confidentialité sera mise à jour au fur et à mesure afin de s’adapter aux exigences lé-gales et aux services proposés. La déclaration de confidentialité actuelle s’applique. Les modifications en-trent en vigueur dès leur publication sur le site.</p>
<h2 id="term_2">Traitement des données personnelles</h2>
<p>Notre site Web permet de s’inscrire à différents services en fournissant certaines données personnelles. Ces données personnelles sont en général transmises à partir du masque de saisie utilisé pour l’inscription, à l’entité responsable du traitement des données.</p>
<p><strong>Les données personnelles</strong> sont toutes les informations qui se rapportent à une personne spécifique ou identifiable. Ce sont par exemple, les noms, adresses, adresses e-mail ou numéros de téléphone d’une personne. Nous pouvons traiter ces informations personnelles. Le terme traitement désigne toute opération ou série d’opérations avec ou sans l’aide de processus automatisés en relation avec les données person-nelles comme la collecte, la saisie, l’organisation, le classement, la sauvegarde, l’adaptation ou la modifica-tion, le tri, la consultation, la divulgation par transmission, la diffusion ou toute autre forme de mise à dis-position, la comparaison ou l’association, la restriction, la suppression ou la destruction.</p>
<p><strong>Les données personnelles que vous saisissez seront collectées et stockées uniquement pour un usage interne par le responsable du traitement des données et à des fins propres. Dès que cela est possible, nous anonymisons les données. Anonymiser des données signifie qu’il n’est pas possible d’identifier la personne concernée à partir de celles-ci.</strong></p>
<p>La durée de conservation des données personnelles dépend de la période de rétention définie par la loi. Une fois la période écoulée, les données personnelles concernées seront systématiquement effacées, dans la mesure où elles ne sont plus nécessaires à l’exécution ou à la préparation d’un contrat.</p>
<h2 id="term_3">Les données que nous prélevons directement</h2>
<p>Dans le cadre de l’utilisation de notre site Web et des services qui y sont liés, les données suivantes peu-vent être collectées:</p>
<h3 id="term_3_1">Formulaires de demande</h3>
<p>Lorsque vous êtes intéressé par une offre immobilière vous pouvez faire une demande grâce à un formu-laire. Les données transmises par le biais de la demande le sont à partir du masque de saisie utilisé. Vos données peuvent être saisies manuellement dans un logiciel tiers ou importées grâce à une interface. Grâce aux données sauvegardées, il est possible que nous trouvions d’autres offres immobilières qui correspon-dent à vos critères. L’identification d’offres immobilières pertinentes peut être faite manuellement ou à l’aide d’un logiciel. Vous pouvez être informé de ces offres par e-mail, par courrier postal ou par téléphone. Vous pouvez à tout moment vous désabonner de ces services.</p>
<h3 id="term_3_2">Création d’un profil de recherche immobilière</h3>
<p>Les utilisateurs de notre site Web ont la possibilité, grâce à un formulaire, d’enregistrer un profil de re-cherche immobilière. Un profil de recherche immobilière vous permet de partager vos préférences en ma-tière de recherche immobilière. Les données personnelles renseignées lors de la création du profil le sont à partir du masque de saisie utilisé.</p>
<p>Les données personnelles obtenues lors de la création du profil de recherche immobilière sont utilisées exclusivement pour trouver des offres immobilières pertinentes. Les données transmises peuvent être sai-sies manuellement dans un logiciel tiers ou importées grâce à une interface. Si vos critères de recherche correspondent à un bien immobilier, nous pourrons vous en informer par e-mail, par courrier postal ou par téléphone. Nous pouvons également vous contacter périodiquement pour mettre à jour vos données per-sonnelles en rapport avec votre profil de recherche immobilière. Vous pouvez à tout moment désactiver temporairement ou supprimer définitivement votre profil de recherche immobilière.</p>
<h3 id="term_3_3">Inscription à la newsletter</h3>
<p>Vous avez la possibilité, grâce à un formulaire ou par e-mail, de vous inscrire à la newsletter de notre entre-prise. Lorsque c’est possible, nous envoyons un e-mail de confirmation (procédure de double confirmation) à l’adresse renseignée lors de l’inscription à la newsletter. Nous nous efforçons d’utiliser un logiciel qui ga-rantit une protection des données en conformité avec la législation pour l’envoi des newsletters.</p>
<p>Vous pouvez à tout moment vous désabonner de la newsletter. Chaque newsletter contient un lien pour se désabonner. Si le lien n’est pas présent, nous vous prions de le signaler au responsable de la protection des données de notre site Web. Notre newsletter peut contenir un pixel espion. Un pixel espion est une très petite image numérique qui est placée dans ces e-mails et qui permet l’enregistrement et l’analyse des fi-chiers journal. Par ce biais, il est possible de faire une analyse statistique du succès ou de l’échec d’une campagne de marketing en ligne. L’analyse peut être anonyme ou faire référence à des données person-nelles.</p>
<h3 id="term_3_4">Collecte de données lors de candidatures</h3>
<p>Nous pouvons collecter et traiter les données personnelles des candidats dans le but de traiter les candida-tures. Le traitement peut également se faire par voie électronique. C’est généralement le cas lorsqu’un can-didat remplit et nous transmet le formulaire de candidature par voie électronique par exemple par e-mail ou grâce au formulaire qui se trouve sur le site Web.</p>
<h2 id="term_4">Données collectées par des services tiers</h2>
<p>Afin d’améliorer continuellement la qualité de nos services, nous utilisons les technologies suivantes sur notre site Web.</p>
<h3 id="term_4_1">Utilisation de cookies</h3>
<p>Dans certains cas, nous pouvons avoir recours à des cookies. Grâce à ces cookies, nous pouvons optimi-ser les informations et les offres de notre site Web en fonction de l’utilisateur. Les cookies nous permettent de reconnaître un utilisateur de notre site Web. Le but de cette reconnaissance est de rendre la navigation sur notre site Web plus facile pour l’utilisateur. Vous pouvez à tout moment empêcher la mise en place de cookies sur notre site Web grâce aux paramètres de votre navigateur web et ainsi empêcher durablement l’utilisation de cookies.</p>
<h3 id="term_4_2">Utilisation de Google Analytics</h3>
<p>Google Analytics est un service d’analyse web. Notre analyse web comporte la collecte anonyme, le ras-semblement et l’analyse de données des comportements des utilisateurs du site Web. Un service d’analyse web recense entre autres des données telles que: de quels sites arrivent les utilisateurs, quelles pages du site sont consultées et à quelle fréquence ou combien de temps les utilisateurs visitent une page. Afin de collecter ces informations, Google Analytics utilise des cookies. Vous pouvez à tout moment empêcher l’utilisation des cookies sur notre site Web, comme indiqué ci-dessus, grâce au réglage des paramètres dans votre navigateur web. </p>
<h3 id="term_4_3">Utilisation de bibliothèques de scripts</h3>
<p>Afin d’afficher correctement le contenu, nous utilisons des bibliothèques de scripts et de polices d’écritures (par ex., Google Webfonts). L’utilisation de ces bibliothèques de scripts et de polices d’écritures a pour effet de créer une connexion avec le fournisseur de bibliothèques. Il est possible que l’exploitant de la bi-bliothèque obtienne des données grâce à cette connexion.</p>
<h3 id="term_4_4">Utilisation de Google Maps</h3>
<p>Nous utilisons une interface pour visualiser les données géographiques de Google et les informations géo-localisées. À cette occasion, les données d’utilisation de la fonction carte seront enregistrées et utilisées par Google. Pour en savoir plus sur l’utilisation de vos données par Google, veuillez consulter la politique d’utilisation des données de Google. </p>
<h3 id="term_4_5">Utilisation de plug-ins sociaux</h3>
<p>Nous utilisons sur notre site différents plug-ins sociaux de différents fournisseurs de réseaux sociaux. Par le biais de ces plug-ins, certaines informations, notamment certaines informations personnelles, peuvent être utilisées par les réseaux sociaux correspondants. Si une personne est connectée à un réseau social pendant qu’elle visite notre site Web, il est possible que des données personnelles soient transmises. Nous n’avons aucune influence sur la nature des données utilisées. De notre côté, nous n’enregistrons aucune donnée personnelle en rapport avec les plug-ins sociaux. Pour en savoir plus sur la collecte, le traitement et l’utilisation des données personnelles par les réseaux sociaux, veuillez consulter leur politique de confiden-tialité respective.</p>
<h2 id="term_5">Vos droits en tant qu’utilisateur de notre site</h2>
<p>Conformément à la loi applicable, vous avez les droits suivants concernant vos données personnelles. Vous pouvez faire valoir les droits suivants auprès de la personne responsable de la protection des don-nées:</p>
<ul>
	<li>Information on your stored data and processing of this data</li>
	<li>Correction of inaccurate personal data</li>
	<li>Deletion of your stored data</li>
	<li>Restriction of the processing of data if we are not yet able to delete your data due to legal obliga-tions</li>
	<li>Objection to the processing of your data</li>
	<li>Data portability, i.e. the receipt of stored data in a machine-readable format, if you have consented to data processing or concluded a contract with us</li>
</ul>
<h2 id="term_6">Responsabilité</h2>
<p>Le responsable de la collecte, du traitement et de l’utilisation de vos données personnelles est:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>Le responsable de la collecte, du traitement et de l’utilisation de vos données personnelles est:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Si vous souhaitez vous opposer à la collecte, au traitement ou à l’utilisation de vos données, intégralement ou partiellement, par nous conformément à ces dispositions de protection des données, vous pouvez adresser votre requête à la personne responsable.</p>




