<ol>
	<li><a href="#term_1">Datenschutzerklärung</a></li>
	<li><a href="#term_2">Bearbeitung von Personendaten</a></li>
	<li><a href="#term_3">Daten, welche direkt von uns erhoben werden</a></li>
		<ol>
			<li><a href="#term_3_1">Anfrageformulare</a></li>
			<li><a href="#term_3_2">Erfassung eines Immobilien-Suchprofils</a></li>
			<li><a href="#term_3_3">Registrierung für den Newsletter</a></li>
			<li><a href="#term_3_4">Datenerhebung bei Bewerbungen</a></li>
		</ol>
  	</li>
  	<li><a href="#term_4">Daten, welche durch Dienstleistungen Dritter erhoben werden</a>
		<ol>
			<li><a href="#term_4_1">Verwendung von Cookies</a></li>
			<li><a href="#term_4_2">Verwendung von Google Analytics</a></li>
			<li><a href="#term_4_3">Verwendung von Scriptbibliotheken</a></li>
			<li><a href="#term_4_4">Verwendung von Google Maps</a></li>
			<li><a href="#term_4_5">Verwendung von Social Plugins</a></li>
		</ol>
	</li>
	<li><a href="#term_5">Ihre Rechte als Nutzer unserer Webseite</a></li>
	<li><a href="#term_6">Verantwortung</a></li>
</ol>
<h2 id="term_1">Datenschutzerklärung</h2>
<p>Die nachfolgende Datenschutzerklärung gilt für die Nutzung dieser Website. Eine Nutzung unserer Webseite ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich. Sofern Sie eine besondere Dienstleistung unseres Unternehmens über unsere Webseite in Anspruch nehmen möchten, könnte jedoch eine Verarbeitung personenbezogener Daten erforderlich werden.</p>
<p>Diese Webseite unterliegt dem <a href="https://www.admin.ch/opc/de/classified-compilation/19920153/index.html" target="_blank">Bundesgesetz über den Datenschutz (DSG)</a> und berücksichtig die zentralen Punkte der <a href="https://www.edoeb.admin.ch/edoeb/de/home/dokumentation/rechtliche-grundlagen/Datenschutz%20-%20International/DSGVO.html" target="_blank">Datenschutz-Grundverordnung (DSGVO)</a> der Europäischen Union (EU).</p>
<p>Wir sind um die Sicherheit Ihrer Daten im Rahmen der geltenden Datenschutzgesetze und technischen Möglichkeiten bemüht. Ihre persönlichen Daten werden bei uns in der Regel verschlüsselt übertragen. Wir nutzen das Codierungssystem SSL (Secure Socket Layer), weisen jedoch darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.</p>
<p>Diese Datenschutzerklärung wird laufend ergänzt und den rechtlichen Anforderungen sowie den angebotenen Dienstleistungen angepasst. Es gilt jeweils die aktuelle Datenschutzbestimmung. Die Änderungen treten in Kraft, sobald sie auf unserer Webseite veröffentlicht wurden.</p>
<h2 id="term_2">Bearbeitung von Personendaten</h2>
<p>Sie haben die Möglichkeit, sich auf der Webseite für verschiedene Dienstleistungen unter Angabe von personenbezogenen Daten zu registrieren. Welche personenbezogenen Daten dabei an den für die Verarbeitung Verantwortlichen übermittelt werden, ergibt sich in der Regel aus der jeweiligen Eingabemaske, die für die Registrierung verwendet wird.</p>
<p><strong>Personenbezogene Daten</strong> sind alle Informationen, die sich auf eine bestimmte oder bestimmbare Person beziehen. Dies kann z.B der Name, die Anschrift, E-Mail-Adresse oder auch Telefonnummer einer Person sein. Diese personenbezogenen Daten können von uns verarbeitet werden. <strong>Verarbeitung</strong> ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.</p>
<p><strong>Die von Ihnen eingegebenen personenbezogenen Daten werden ausschliesslich für die interne Verwendung bei dem für die Verarbeitung Verantwortlichen und für eigene Zwecke erhoben und gespeichert. Wo immer möglich, werden die Daten anonymisiert. Anonymisiert bedeutet, dass keine Rückschlüsse auf eine betroffene Person gemacht werden können.</strong></p>
<p>Das Kriterium für die Dauer der Speicherung von personenbezogenen Daten ist die jeweilige gesetzliche Aufbewahrungsfrist. Nach Ablauf der Frist werden die entsprechenden Daten routinemässig gelöscht, sofern sie nicht mehr zur Vertragserfüllung oder Vertragsanbahnung erforderlich sind.</p>
<h2 id="term_3">Daten, welche direkt von uns erhoben werden</h2>
<p>Im Rahmen der Nutzung unserer Webseite und den damit verbundenen Dienstleistungen, können wir folgende personenbezogene Daten erheben:</p>
<h3 id="term_3_1">Anfrageformulare</h3>
<p>Wenn Sie sich für ein bestimmtes Immobilienangebot interessieren, können Sie uns mittels eines Formulars eine Anfrage stellen. Welche personenbezogenen Daten bei der Anfrage übermittelt werden, ergibt sich aus der entsprechenden Eingabemaske. Ihre Daten können in eine Software eines Drittanbieters manuell erfasst oder mittels Schnittstelle importiert werden. Aufgrund der gespeicherten Daten ist es möglich, dass wir für Sie andere Immobilienangebote haben, die den Kriterien Ihrer Anfrage entsprechen. Die Erkennung von relevanten Immobilienangeboten kann manuell oder maschinell durch eine Software erfolgen. Sie können von uns mittels E-Mail, postalischem Schreiben oder mittels Telefon über solche Immobilienangebote informiert werden. Sie haben jederzeit die Möglichkeit, sich von dieser Dienstleistung abzumelden.</p>
<h3 id="term_3_2">Erfassung eines Immobilien-Suchprofils</h3>
<p>Auf unserer Webseite wird den Benutzern die Möglichkeit eingeräumt, mittels eines Formulars ein Immobilien-Suchprofil zu hinterlegen. Ein Immobilien-Suchprofil hat zum Zweck, uns Ihre Präferenzen hinsichtlich der Immobiliensuche mitzuteilen. Welche personenbezogenen Daten bei der Hinterlegung eines Formulars übermittelt werden, ergibt sich aus der hierzu verwendeten Eingabemaske.</p>
<p>Die im Rahmen zur Erfassung eines Immobilien-Suchprofils erhobenen personenbezogenen Daten werden ausschliesslich zur persönlichen Information über passende Immobilienangebote verwendet. Die übermittelten Daten können in eine Software eines Drittanbieters manuell erfasst oder mittels Schnittstelle importiert werden. Sollten den Suchkriterien passende Immobilienobjekte vorliegen, können wir Sie mittels E-Mail, postalischem Schreiben oder mittels Telefon darüber informieren. Auch können wir Sie in regelmässigen Abständen um die Aktualisierung von personenbezogenen Daten hinsichtlich des Immobilien-Suchprofils kontaktieren. Es besteht jederzeit die Möglichkeit, das Immobilien-Suchprofil temporär zu deaktivieren oder ganz zu löschen.</p>
<h3 id="term_3_3">Registrierung für den Newsletter</h3>
<p>Es ist möglich, dass Sie sich mittels eines Formulars oder per E-Mail für den Newsletter unseres Unternehmens anmelden können. Wenn möglich, wird an die eingetragene E-Mail-Adresse für den erstmaligen Newsletter-Versand eine Bestätigungsmail im Double-Opt-In-Verfahren versendet. Wir sind bemüht, für den Newsletter-Versand eine dafür vorgesehene Software zu verwenden, welche einen konformen Datenschutz gewährleistet.</p>
<p>Sie haben jederzeit die Möglichkeit, sich von Newsletter abzumelden. In jedem Newsletter befindet sich ein entsprechender Abmelde-Link. Sollte dieser Link fehlen, bitten wir Sie, sich bei der Datenschutzbeauftragten Person unserer Webseite zu melden. Unser Newsletter kann ein Zählpixel enthalten. Ein Zählpixel ist eine Miniaturgrafik, die in solche E-Mails eingebettet wird, um eine Logdatei-Aufzeichnung und eine Logdatei-Analyse zu ermöglichen. Dadurch kann eine statistische Auswertung des Erfolges oder Misserfolges von Online-Marketing-Kampagnen durchgeführt werden. Die Analyse kann anonymisiert oder mit Rückschluss auf personenbezogene Daten erfolgen.</p>
<h3 id="term_3_4">Datenerhebung bei Bewerbungen</h3>
<p>Wir können personenbezogenen Daten erheben und verarbeiten, die von Bewerbern zum Zwecke der Abwicklung eines Bewerbungsverfahrens zur Verfügung gestellt werden. Die Verarbeitung kann auch auf elektronischem Wege erfolgen. Dies ist insbesondere dann der Fall, wenn ein Bewerber entsprechende Bewerbungsunterlagen auf dem elektronischen Wege, beispielsweise per E-Mail oder über ein auf der Webseite befindliches Webformular, an uns übermittelt.</p>
<h2 id="term_4">Daten, welche durch Dienstleistungen Dritter erhoben werden</h2>
<p>Um die Qualität unserer Dienstleistungen kontinuierlich zu verbessern, sind auf unserer Webseite folgende Technologien eingebunden:</p>
<h3 id="term_4_1">Verwendung von Cookies</h3>
<p>In bestimmten Fällen können wir Cookies einsetzten. Mittels eines Cookies können die Informationen und Angebote auf unserer Webseite im Sinne des Benutzers optimiert werden. Cookies ermöglichen uns, die Benutzer unserer Webseite wiederzuerkennen. Zweck dieser Wiedererkennung ist es, den Nutzern die Verwendung unserer Webseite zu erleichtern. Sie können die Setzung von Cookies durch unsere Webseite jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies dauerhaft widersprechen.</p>
<h3 id="term_4_2">Verwendung von Google Analytics</h3>
<p>Google Analytics ist ein Web-Analyse-Dienst. Unsere Web-Analyse beinhaltet die anonyme Erhebung, Sammlung und Auswertung von Daten über das Verhalten von Besuchern von Webseiten. Ein Web-Analyse-Dienst erfasst unter anderem Daten darüber, von welcher Webseite ein Benutzer auf eine Webseite gekommen, ist auf welche Unterseiten der Webseite zugegriffen oder wie oft und für welche Verweildauer eine Unterseite betrachtet wurde. Um diese Informationen aufzuzeichnen, setzt Google Analytics ein Cookie ein. Sie können die Setzung von Cookies durch unsere Webseite, wie oben bereits dargestellt, jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers verhindern.</p>
<h3 id="term_4_3">Verwendung von Scriptbibliotheken</h3>
<p>Um Inhalte korrekt auszuliefern, verwenden wir auf unserer Webseite Scriptbibliotheken und Schriftbibliotheken (z. B. Google Webfonts). Der Aufruf einer Scriptbibliothek oder Schriftbibliotheken hat zur Folge, dass eine Verbindung zum Anbieter der Bibliothek ausgelöst wird. Es ist möglich, dass der Betreiber der Bibliothek Daten dieser Verbindung erhebt.</p>
<h3 id="term_4_4">Verwendung von Google Maps</h3>
<p>Wir nutzen eine Schnittstelle zu geospezifischen Daten von Google, um ortsbasierte Informationen zu visualisieren. Hierbei werden von Google Daten über die Nutzung der Kartenfunktion aufgezeichnet und verwendet. Informationen über die Datennutzung durch Google kann bei den Datenschutzhinweisen von Google entnommen werden.</p>
<h3 id="term_4_5">Verwendung von Social Plugins</h3>
<p>Auf unserer Webseite können Social Plugins verschiedener Anbieter von Sozialen Netzwerken eingesetzt werden. Mittels dieser Plugins können Informationen, zu denen auch personenbezogene Daten gehören können, von den entsprechenden Sozialen Netzwerken genutzt werden. Sofern die betroffene Person gleichzeitig bei einem Sozialen Netzwerk eingeloggt ist, während sie unsere Webseite besucht, ist davon auszugehen, dass personenbezogene Daten übermittelt werden. Wir haben keinen Einfluss darüber, welche Daten verwendet werden. Von unserer Seite werden keine personenbezogenen Daten von Social Plugins aufgezeichnet. Die Datenschutzrichtlinien der entsprechenden Sozialen Netzwerke geben Aufschluss über die Erhebung, Verarbeitung und Nutzung personenbezogener Daten.</p>
<h2 id="term_5">Ihre Rechte als Nutzer unserer Webseite</h2>
<p>Nach den anwendbaren Gesetzen haben Sie verschiedene Rechte hinsichtlich Ihrer personenbezogenen Daten. Sie können von unserer Datenschutzbeauftragten Person folgende Rechte geltend machen:</p>
<ul>
	<li>Auskunft über Ihre gespeicherten Daten und die damit verbundene Verarbeitung</li>
	<li>Berichtigung falscher personenbezogener Daten</li>
	<li>Löschung Ihrer gespeicherten Daten</li>
	<li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen</li>
	<li>Widerspruch gegen die Verarbeitung Ihrer Daten</li>
	<li>Datenübertragbarkeit, d.h. Erhalt der gespeicherten Daten in einem maschinenlesbaren Format, sofern Sie in die Datenverarbeitung eingewilligt, oder einen Vertrag mit uns abgeschlossen haben</li>
</ul>
<h2 id="term_6">Verantwortung</h2>
<p>Verantwortlich für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten ist:</p>
<p>
	{{company.legal_name}}

	{{#address.street}}
		<br>{{address.street}} {{address.street_number}}
	{{/address.street}}

	{{#address.post_office_box_number}}
		<br>{{address.post_office_box_number}}
	{{/address.post_office_box_number}}

	{{#address.postal_code}}
		<br>{{address.postal_code}} {{address.locality}}
	{{/address.postal_code}}

	{{#address.country}}
		<br>{{address.country}}
	{{/address.country}}
</p>

{{#person}}
<p>Die Datenschutzbeauftragte Person ist:</p>
<p>{{person.first_name}} {{person.last_name}} <a href="mailto:{{person.email}}">{{person.email}}</a></p>
{{/person}}

<p>Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Massgabe dieser Datenschutzbestimmungen insgesamt oder für einzelne Massnahmen widersprechen wollen, können Sie Ihren Widerspruch an den Verantwortlichen richten.</p>




